<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h2>{{ 'searchBar.title' | transloco }}</h2>
    </div>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="search-wrapper">
      <ip-search-bar
        placeholder="Please enter a keyword !"
        suggestions-data='["Accessibility Web ", "Accessibility Website", "Accessibility assistive technologies", "Accessibility ressources", "Accessibility barrier-free solutions", "Accessibility Web content guidelines"]'
      >
      </ip-search-bar>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <div class="code-wrapper">
      <app-code-snippet [htmlCode]="searchCode"></app-code-snippet>
    </div>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-search-bar></app-doc-search-bar>
  </app-accordion>
</div>
