@use '../../../assets/styles/index.scss' as *;

a {
  text-decoration: none;
}
.card-content {
  display: flex;
  flex-direction: column;
  font-family: 'Mulish-light';
}
.card {
  background-color: $cardBackgroundColor;
  color: $cardTextColor;
  width: rem(250);
  box-shadow: 0 0 rem(12) 0 fade(darken($darkColor, 100), 20);
  border-radius: rem(15);
  border: 2px solid $cardBackgroundColor;
  will-change: transform;
  transition: transform $transition-in-out;
  overflow: hidden;
  &:hover,
  &:focus-within {
    transform: scale(1.03);
    transition:
      transform $transition-in-out,
      outline $transition-in-out,
      outline-offset $transition-in-out;
  }

  &:focus-within {
    outline-offset: em(5);
    outline: 2px solid var(--focus-color);
    outline: 3px solid $darkColor;
    outline-offset: 4px;
  }
}
.title {
  font-family: 'Mulish-light';
  font-weight: normal;
  line-height: 1.2;
  text-align: start;
  color: $secondaryColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.image-wrapper {
  background-color: #fafafa;
}
.card-img {
  block-size: 100%;
  inline-size: 100%;

  object-fit: scale-down;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-block-start: 2px solid darken($cardBackgroundColor, 9);

  h2 {
    font-size: rem(16);
    margin: 0;
    color: $cardTextColor;
    font-family: 'Mulish-light';
  }
}

.card-title {
  font-size: rem(14);
  margin: 0;
  color: #333;
}
@media (max-width: 768px) {
  .card {
    margin: 13px;
    width: 300px;
    border: none;
    box-shadow: none;
  }

  .image-wrapper {
    padding: 20px;
    block-size: 9rem;
  }

  .title {
    padding: rem(15);
    flex-basis: 100%;
  }

  .title h2 {
    font-size: rem(16);
  }

  .card-title {
    font-size: rem(12);
  }
}

@media (max-width: 480px) {
  .card {
    border: none;
    box-shadow: none;
  }
  .title {
    font-size: rem(14);
    padding: rem(10);
  }

  .title h2 {
    font-size: rem(14);
  }

  .card-title {
    font-size: rem(12);
  }
}
