<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h2>{{ 'boutonRadio.title' | transloco }}</h2>
    </div>
    <p>
      {{ 'boutonRadio.intro' | transloco }}
    </p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="radio-wrapper" lang="en">
      <ip-radio
        id="radio"
        legend="What is your gender"
        default-option-id="Female"
        options='[
          {"id": "Male", "label": "Male"}, 
          {"id": "Female", "label": "Female"},
          {"id": "Other", "label": "Other", "disabled": true}
    
          ]'
      ></ip-radio>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet [htmlCode]="radioCode"></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-radio></app-doc-radio>
  </app-accordion>
</div>
