ul {
  list-style-type: none;
  margin: 0;

  .skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    // TODO: change to a variable later
    background: #0e9980;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    z-index: 2000;
    transition: top 300ms;
    scroll-margin-top: 40px;

    &:focus {
      top: 0;
      border: none;
      outline: none;
    }
  }
}
