<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h1>{{ 'dropdown.title' | transloco }}</h1>
    </div>
    <p>{{ 'dropdown.intro' | transloco }}</p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="dropdown-wrapper" lang="en">
      <ip-dropdown
        dropdown-title="Country"
        placeholder="Select a country:"
        items-options='["Mauritius", "France", "Germany", "Zimbabwe"]'
      >
      </ip-dropdown>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet
      [htmlCode]="codeSnippet"
      [cssCode]="dropdown1Css"
    ></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-dropdown></app-doc-dropdown>
  </app-accordion>
</div>
