@use '../../../../assets/styles/index.scss' as *;
.dropdown-wrapper {
  display: flex;
  justify-content: center;
  padding: rem(70) 0 rem(250);
}

ip-dropdown {
  --primary-color: #b00057;
  --font-color: #000000;
  --font-family: 'Mulish-light';
}
