<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h1>{{ 'alert.titleSuccess' | transloco }}</h1>
    </div>
    <p>
      {{ 'alert.intro' | transloco }}

      provide important information.
    </p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="alert-wrapper" lang="en">
      @if (isAlertVisible) {
        <ip-alert
          type="success"
          alert-title="Success"
          message="Your registration was completed successfully! You can now access your account."
          (alertClosed)="hideAlert()"
          #alertComponent
        >
        </ip-alert>
      }
      @if (!isAlertVisible) {
        <button (click)="displayAlert()" #showAlertButton>Show alert</button>
      }
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet
      [htmlCode]="successAlertCode"
      [cssCode]="cssAlertCode"
    ></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-alert></app-doc-alert>
  </app-accordion>
</div>
