@use '../../../../assets/styles/index.scss' as *;

.stepper {
  width: 450px;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: 'Mulish-Light';
  h2 {
    font-family: 'Mulish-Bold';
  }
  p {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Mulish-Light';
  }
}
