<section id="documentation">
  <h3 class="under-title">Installation</h3>
  {{ 'tabpanel.docs.installation' | transloco }}
  <p></p>
  <h4>{{ 'tabpanel.docs.step1' | transloco }}</h4>
  <p>
    {{ 'tabpanel.docs.step1desc' | transloco }}
  </p>
  <pre><code [highlight]="installationScript" language="bash">npm install ip-accordion</code></pre>

  <h4>{{ 'tabpanel.docs.step2' | transloco }}</h4>
  <p>{{ 'tabpanel.docs.step2desc' | transloco }}</p>
  <pre><code [highlight]="import" language="typescript"></code></pre>

  <h3 class="under-title">{{ 'tabpanel.docs.usage' | transloco }}</h3>
  <p>
    {{ 'tabpanel.docs.usageDesc1' | transloco }}
  </p>

  <h4>{{ 'tabpanel.docs.usageDesc1' | transloco }}</h4>
  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'tabpanel.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'tabpanel.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'tabpanel.docs.propertyTable.necessity' | transloco }}
        </th>
        <th scope="col">
          {{ 'tabpanel.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">
          {{ 'tabpanel.docs.propertyTable.type' | transloco }}
        </th>
        <th scope="col">
          {{ 'tabpanel.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'tabpanel.docs.tableLine1.property' | transloco }}</td>
        <td>
          {{ 'tabpanel.docs.tableLine1.attribute' | transloco }}
        </td>
        <td>
          {{ 'tabpanel.docs.tableLine1.necessity' | transloco }}
        </td>
        <td>{{ 'tabpanel.docs.tableLine1.description' | transloco }}</td>
        <td>
          {{ 'tabpanel.docs.tableLine1.type' | transloco }}
        </td>
        <td>{{ 'tabpanel.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>
          {{ 'tabpanel.docs.tableLine2.property' | transloco }}
        </td>
        <td>
          {{ 'tabpanel.docs.tableLine2.attribute' | transloco }}
        </td>
        <td>{{ 'tabpanel.docs.tableLine2.necessity' | transloco }}</td>
        <td>{{ 'tabpanel.docs.tableLine2.description' | transloco }}</td>
        <td>
          {{ 'tabpanel.docs.tableLine2.type' | transloco }}
        </td>
        <td>{{ 'tabpanel.docs.tableLine2.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'tabpanel.docs.tableLine3.property' | transloco }}</td>
        <td>
          {{ 'tabpanel.docs.tableLine3.attribute' | transloco }}
        </td>
        <td>{{ 'tabpanel.docs.tableLine3.necessity' | transloco }}</td>
        <td>{{ 'tabpanel.docs.tableLine3.description' | transloco }}</td>
        <td>
          {{ 'tabpanel.docs.tableLine3.type' | transloco }}
        </td>
        <td>{{ 'tabpanel.docs.tableLine3.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'tabpanel.docs.tableLine4.property' | transloco }}</td>
        <td>
          {{ 'tabpanel.docs.tableLine4.attribute' | transloco }}
        </td>
        <td>{{ 'tabpanel.docs.tableLine4.necessity' | transloco }}</td>
        <td>{{ 'tabpanel.docs.tableLine4.description' | transloco }}</td>
        <td>
          {{ 'tabpanel.docs.tableLine4.type' | transloco }}
        </td>
        <td>{{ 'tabpanel.docs.tableLine4.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>

  <h4>tab-panel-headers</h4>
  <p>{{ 'tabpanel.docs.slot1Desc' | transloco }}</p>
  <ul>
    <li><strong>title</strong>: {{ 'tabpanel.docs.prop1desc' | transloco }}</li>
    <li>
      <strong>imagePath</strong>: {{ 'tabpanel.docs.prop2desc' | transloco }}
    </li>
    <li>
      <strong>imgPathActive</strong>:
      {{ 'tabpanel.docs.prop3desc' | transloco }}
    </li>
    <li><strong>alt</strong>: {{ 'tabpanel.docs.prop4desc' | transloco }}</li>
  </ul>

  <h3 class="under-title">{{ 'tabpanel.docs.content' | transloco }}</h3>
  <p>
    {{ 'tabpanel.docs.contentDesc1' | transloco }}
    <code>slot="tab-content-1"</code>
    {{ 'tabpanel.docs.contentDesc2' | transloco }}
  </p>
  <p>
    <em>{{ 'tabpanel.docs.example' | transloco }}</em>
  </p>
  <pre><code [highlight]="example" language="html"></code></pre>

  <h3 class="under-title">
    {{ 'tabpanel.docs.personnalisation' | transloco }}
  </h3>

  <h4>Style</h4>
  <p>{{ 'tabpanel.docs.styleDesc' | transloco }}</p>
  <ul>
    <li><code>--ip-tab-primary-color</code></li>
    <li><code>--ip-tab-secondary-color</code></li>
    <li><code>--ip-tab-font</code></li>
    <li><code>--ip-tab-icon</code></li>
  </ul>
  <p>{{ 'tabpanel.docs.introCss' | transloco }}</p>
  <pre class="code-block">
    <code [highlight]="custom1" language="css"></code>
  </pre>

  <h4>{{ 'tabpanel.docs.classes' | transloco }}</h4>
  <p>{{ 'tabpanel.docs.introClasses' | transloco }}</p>
  <ul>
    <li>
      <code>tab-container</code>: {{ 'tabpanel.docs.class1Desc' | transloco }}
    </li>
    <li>
      <code>tab-panel-title</code>: {{ 'tabpanel.docs.class2Desc' | transloco }}
    </li>
    <li>
      <code>tab-btn-list</code>: {{ 'tabpanel.docs.class3Desc' | transloco }}
    </li>
    <li><code>tab-btn</code>: {{ 'tabpanel.docs.class4Desc' | transloco }}</li>
    <li>
      <code>tab-btn-active</code>: {{ 'tabpanel.docs.class5Desc' | transloco }}
    </li>
    <li><code>tab-icon</code>: {{ 'tabpanel.docs.class6Desc' | transloco }}</li>
    <li>
      <code>tab-icon-active</code>: f{{
        'tabpanel.docs.class7Desc' | transloco
      }}
    </li>
    <li><code>tab-text</code>: {{ 'tabpanel.docs.class8Desc' | transloco }}</li>
  </ul>
  <p>{{ 'tabpanel.docs.example' | transloco }}</p>
  <!-- TODO: combine and add comment -->
  <pre class="code-block">
    <code [highlight]="custom2" language="css"></code>
  </pre>
  <br />
  <pre class="code-block">
    <code [highlight]="custom3" language="css"></code>
  </pre>
  <br />
  <pre class="code-block">
    <code [highlight]="example2" language="html"></code>
  </pre>
</section>
