<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h1>{{ 'alert.titleInfo' | transloco }}</h1>
    </div>
    <p>
      {{ 'alert.intro' | transloco }}
    </p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="alert-wrapper" lang="en">
      @if (isAlertVisible) {
        <ip-alert
          type="info"
          alert-title="Info"
          message="System updates are complete. You may now continue working."
          (alertClosed)="hideAlert()"
          #alertComponent
        >
        </ip-alert>
      }
      @if (!isAlertVisible) {
        <button (click)="displayAlert()" #showAlertButton>Show alert</button>
      }
    </div>
  </app-accordion>
  <app-accordion title="Code">
    <app-code-snippet
      [htmlCode]="infoAlertCode"
      [cssCode]="cssAlertCode"
    ></app-code-snippet>
  </app-accordion>
  <app-accordion title="Documentation">
    <app-doc-alert></app-doc-alert>
  </app-accordion>
</div>
