<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    {{ 'tooltip.docs.installation' | transloco }}
  </p>
  <h4>{{ 'tooltip.docs.step1' | transloco }}</h4>
  <p>
    {{ 'tooltip.docs.step1desc' | transloco }}
  </p>
  <pre><code [highlight]="installationScript" language="typescript"></code></pre>
  <h4>{{ 'tooltip.docs.step2' | transloco }}</h4>
  <p>{{ 'tooltip.docs.step2desc' | transloco }}</p>
  <pre><code [highlight]="import" language="typescript"></code></pre>

  <h3 class="under-title">{{ 'tooltip.docs.usage' | transloco }}</h3>
  <p>{{ 'tooltip.docs.usageDesc' | transloco }}</p>
  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'tooltip.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'tooltip.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'tooltip.docs.propertyTable.necessity' | transloco }}
        </th>
        <th scope="col">
          {{ 'tooltip.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">{{ 'tooltip.docs.propertyTable.type' | transloco }}</th>
        <th scope="col">
          {{ 'tooltip.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'tooltip.docs.tableLine1.property' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine1.attribute' | transloco }}
        </td>
        <td>
          {{ 'tooltip.docs.tableLine1.necessity' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine1.description' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine1.type' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>
          {{ 'tooltip.docs.tableLine2.property' | transloco }}
        </td>
        <td>
          {{ 'tooltip.docs.tableLine2.attribute' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine2.necessity' | transloco }}</td>
        <td>{{ 'tooltip.docs.tableLine2.description' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine2.type' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine2.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'tooltip.docs.tableLine3.property' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine3.attribute' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine3.necessity' | transloco }}</td>
        <td>{{ 'tooltip.docs.tableLine3.description' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine3.type' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine3.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'tooltip.docs.tableLine4.property' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine4.attribute' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine4.necessity' | transloco }}</td>
        <td>{{ 'tooltip.docs.tableLine4.description' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine4.type' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine4.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'tooltip.docs.tableLine5.property' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine5.attribute' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine5.necessity' | transloco }}</td>
        <td>{{ 'tooltip.docs.tableLine5.description' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine5.type' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine5.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'tooltip.docs.tableLine6.property' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine6.attribute' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine6.necessity' | transloco }}</td>
        <td>{{ 'tooltip.docs.tableLine6.description' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine6.type' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine6.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'tooltip.docs.tableLine7.property' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine7.attribute' | transloco }}
        </td>
        <td>
          {{ 'tooltip.docs.tableLine7.necessity' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine7.description' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine7.type' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine7.default' | transloco }}</td>
      </tr>
      <tr>
        <td>
          {{ 'tooltip.docs.tableLine8.property' | transloco }}
        </td>
        <td>
          {{ 'tooltip.docs.tableLine8.attribute' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine8.necessity' | transloco }}</td>
        <td>{{ 'tooltip.docs.tableLine8.description' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine8.type' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine8.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'tooltip.docs.tableLine9.property' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine9.attribute' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine9.necessity' | transloco }}</td>
        <td>{{ 'tooltip.docs.tableLine9.description' | transloco }}</td>
        <td>
          {{ 'tooltip.docs.tableLine9.type' | transloco }}
        </td>
        <td>{{ 'tooltip.docs.tableLine9.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>

  <p>
    <em>{{ 'stepper.docs.example' | transloco }}</em>
  </p>
  <div class="code-example">
    <pre><code [highlight]="example" language="html"></code></pre>
  </div>
  <h3 class="under-title">{{ 'tooltip.docs.personnalisation' | transloco }}</h3>
  <p>{{ 'tooltip.docs.personnalisationDesc' | transloco }}</p>
  <ul>
    <li><code>--primary-color</code></li>
    <li><code>--secondary-color</code></li>
  </ul>

  <p>
    {{ 'tooltip.docs.parts.intro' | transloco }}
  </p>
  <ul>
    <li>
      <code>close-btn</code>: {{ 'tooltip.docs.parts.part1Desc' | transloco }}
    </li>
    <li>
      <code>tooltip-btn1</code>:
      {{ 'tooltip.docs.parts.part2Desc' | transloco }}
    </li>
    <li>
      <code>tooltip-btn2</code>:
      {{ 'tooltip.docs.parts.part3Desc' | transloco }}
    </li>
    <li>
      <code>tooltip-content</code>:
      {{ 'tooltip.docs.parts.part4Desc' | transloco }}
    </li>
    <li>
      <code>tooltip-trigger</code>:
      {{ 'tooltip.docs.parts.part5Desc' | transloco }}
    </li>
  </ul>
  <p>{{ 'tooltip.docs.parts.exampleDesc' | transloco }}</p>
  <pre>
    <pre><code [highlight]="custom" language="css"></code></pre>
  </pre>

  <h3 class="under-title">{{ 'tooltip.docs.event' | transloco }}</h3>
  <p>
    {{ 'tooltip.docs.eventDesc1' | transloco
    }}{{ 'tooltip.docs.eventDesc2' | transloco }}
  </p>
  <pre><code [highlight]="eventHandlingExample" language="typescript"></code></pre>
</section>
