<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>COMPONENTS</p>
      <h2>Show-more button</h2>
    </div>
    <p></p>
  </div>
  <app-accordion title="Preview" [alwaysOpen]="true">
    <div class="show-more-wrapper">
      <ip-show-more show-less-text="Voir moins" show-more-text="Voir plus">
        <div slot="content" class="show-content">
          @for (card of moreCards; track card) {
            <app-card
              [imageUrl]="card.imageUrl"
              [title]="card.title"
              >
            </app-card>
          }
        </div>
      </ip-show-more>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet
      [htmlCode]="showMoreCode"
      [cssCode]="smCss"
    ></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-show-more></app-doc-show-more>
  </app-accordion>
</div>
