<footer role="contentinfo">
  <div class="footer">
    <nav [attr.aria-label]="'footer.navFooter' | transloco">
      <ul class="list">
        <li class="new-window">
          <a [href]="'footer.href.cookie' | transloco" target="_blank"
            >{{ 'footer.cookie' | transloco }}
            <img
              src="assets/images/new-window-icon.png"
              [attr.alt]="'common.label.newWindow' | transloco"
          /></a>
        </li>
        <li class="new-window">
          <a [href]="'footer.href.legal' | transloco" target="_blank"
            >{{ 'footer.legal' | transloco }}
            <img
              src="assets/images/new-window-icon.png"
              [attr.alt]="'common.label.newWindow' | transloco"
          /></a>
        </li>
        <li class="ipedis new-window">
          <a href="https://www.ipedis.com" target="_blank"
            >Ipedis.com
            <img
              src="assets/images/new-window-icon.png"
              [attr.alt]="'common.label.newWindow' | transloco"
          /></a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
