<footer role="contentinfo">
  <div class="menu">
    <nav aria-label="Secondary navigation">
      <div class="wrapper components">
        <div class="title">
          <span>Web Components</span>
        </div>
        <div class="list">
          <ul class="two-columns">
            <li><a href="#">Accordion</a></li>
            <li><a href="#">Breadcrumb</a></li>
            <li><a href="#">Buttons</a></li>
            <li><a href="#">Checkbox</a></li>
            <li><a href="#">Links</a></li>
            <li><a href="#">Modal</a></li>
            <li><a href="#">Pagination</a></li>
            <li><a href="#">Radio Button</a></li>
            <li><a href="#">Select</a></li>
            <li><a href="#">Skip Link</a></li>
            <li><a href="#">Text Input</a></li>
            <li><a href="#">Sr-only</a></li>
          </ul>
        </div>
      </div>
      <div class="wrapper disability">
        <div class="title">
          <span>Disability Guide</span>
        </div>
        <div class="list">
          <ul>
            <li><a href="#">Visual</a></li>
            <li><a href="#">Anosmia</a></li>
            <li><a href="#">Deafness</a></li>
            <li><a href="#">Motor</a></li>
            <li><a href="#">Cognitive Disorder</a></li>
            <li><a href="#">Psychic</a></li>
          </ul>
        </div>
      </div>
      <div class="wrapper pdf">
        <div class="title">
          <span>PDF Accessibility</span>
        </div>
        <div class="list">
          <ul>
            <li><a href="#">Tagging Evaluation</a></li>
            <li><a href="#">Tags</a></li>
            <li><a href="#">Interactive Form</a></li>
            <li><a href="#">Document Completion</a></li>
            <li><a href="#">PDF Quality Check</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="footer">
    <nav aria-label="Footer navigation">
      <ul class="list">
        <li><a href="#">Accessibility Statement : Totally Compliant</a></li>
        <li><a href="#">License</a></li>
        <li><a href="#">Sitemap</a></li>
        <li class="new-window">
          <a href="#" target="_blank"
            >Privacy and cookie policy
            <img
              src="../../../assets/images/new-window-icon.png"
              alt="Opens in a new window"
          /></a>
        </li>
        <li class="new-window">
          <a href="#" target="_blank"
            >Legal Notice
            <img
              src="../../../assets/images/new-window-icon.png"
              alt="Opens in a new window"
          /></a>
        </li>
        <li class="new-window">
          <a href="https://www.ipedis.com" target="_blank"
            >Ipedis.com
            <img
              src="../../../assets/images/new-window-icon.png"
              alt="Opens in a new window"
          /></a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
