ul {
  list-style: none;
}
a {
  text-decoration: none;
  &:focus {
    outline: 2px solid #000;
    outline-offset: 2px;
  }
  &:hover {
    text-decoration: underline;
    text-decoration-color: #132c54;
    text-underline-offset: 2px;
  }
}
.new-window {
  a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    img {
      object-fit: contain;
    }
  }
}
.menu {
  nav {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
    justify-content: space-evenly;

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .title {
      font-size: 15.5px;
      font-style: bold;
      font-weight: 700;
      color: #132c54;
    }
    .list {
      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0;

        li {
          gap: 16px;
          padding: 4px;

          a {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }

      .two-columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

        li {
          break-inside: avoid;
          gap: 16px;
        }
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  border-top: 1px solid #eff7ff;
  nav {
    display: flex;
    flex-direction: row;
    gap: 32px;

    .list {
      padding: 0;
      display: flex;
      flex-direction: row;
      li {
        gap: 10px;
        a {
          font-size: 14px;
          font-weight: 400;
          padding: 0 8px;
          border-right: 0.5px solid #132c54;
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .menu nav {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }

  .menu nav .wrapper {
    flex: 1 1 45%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer nav .list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
}
@media (max-width: 360px) {
  footer {
    padding: 24px 16px;
    gap: 32px;
  }

  .menu nav {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .menu nav {
    flex-direction: column;
    align-items: center;
  }

  .menu .two-columns {
    grid-template-columns: 1fr;
  }

  .footer {
    gap: 24px;
  }

  .footer nav .list {
    flex-direction: column;
    align-items: center;
  }

  .footer nav .list li a {
    border-right: none;
    padding: 4px 0;
  }
}
