<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h2>{{ 'alert.titleWarning' | transloco }}</h2>
    </div>
    <p>
      {{ 'alert.intro' | transloco }}
    </p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="alert-wrapper" lang="en">
      @if (isAlertVisible) {
        <ip-alert
          type="warning"
          alert-title="Warning"
          message="You are about to permanently delete this item. This action cannot be undone."
          (alertClosed)="hideAlert()"
          #alertComponent
        >
        </ip-alert>
      }
      @if (!isAlertVisible) {
        <button (click)="displayAlert()" #showAlertButton>Show alert</button>
      }
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet
      [htmlCode]="warningAlertCode"
      [cssCode]="cssAlertCode"
    ></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-alert></app-doc-alert>
  </app-accordion>
</div>
