<nav
  class="sidebar-menu"
  id="navigation"
  role="navigation"
  aria-label="Main navigation"
>
  <ul class="menu-list">
    <li class="item" [class.open]="isOpen['intro']">
      <a
        [routerLink]="'/' + activeLang"
        routerLinkActive="active"
        aria-label="Go to Introduction"
        (click)="onLinkClick()"
      >
        Intro
      </a>
    </li>
    <li class="item" [class.open]="isOpen['accordion']">
      <a
        [routerLink]="'/' + activeLang + '/accordion/accordion1'"
        routerLinkActive="active"
        aria-label="Go to Accordion component"
        (click)="onLinkClick()"
      >
        Accordion
      </a>
    </li>

    <li class="item with-content" [class.open]="isOpen['alert']">
      <div
        class="sub-title"
        role="button"
        tabindex="0"
        (click)="toggleSection('alert')"
        (keydown)="handleKeydown($event, 'alert')"
        [attr.aria-expanded]="isOpen['alert']"
        aria-controls="alert-sub-menu"
        [attr.aria-label]="
          isOpen['alert'] ? 'Collapse Alert section' : 'Expand Alert section'
        "
      >
        <span> Alert </span>
        <div class="icon" [class.open]="isOpen['alert']">
          <img src="assets/images/vector.svg" alt="" />
        </div>
      </div>

      <ul class="sub-menu" role="list" [class.open]="isOpen['alert']">
        <li>
          <a
            [routerLink]="'/' + activeLang + '/alert/info-alert'"
            routerLinkActive="active"
            aria-label="Go to Alert info preview"
            (click)="onLinkClick()"
            >Alert info</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/' + activeLang + '/alert/success-alert'"
            routerLinkActive="active"
            aria-label="Go to Alert success preview"
            (click)="onLinkClick()"
            >Alert success</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/' + activeLang + '/alert/warning-alert'"
            routerLinkActive="active"
            aria-label="Go to Alert Warning preview"
            (click)="onLinkClick()"
            >Alert Warning</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/' + activeLang + '/alert/danger-alert'"
            routerLinkActive="active"
            aria-label="Go to Alert Danger preview"
            (click)="onLinkClick()"
            >Alert Danger</a
          >
        </li>
      </ul>
    </li>
    <li class="item" [class.open]="isOpen['breadcrumb']">
      <a
        [routerLink]="'/' + activeLang + '/breadcrumb/breadcrumb1'"
        routerLinkActive="active"
        aria-label="Go to breadcrumbcomponent"
        (click)="onLinkClick()"
      >
        Breadcrumb
      </a>
    </li>
    <li class="item with-content" [class.open]="isOpen['checkbox']">
      <div
        class="sub-title"
        tabindex="0"
        (click)="toggleSection('checkbox')"
        (keydown)="handleKeydown($event, 'checkbox')"
        role="button"
        aria-controls="checkbox-sub-menu"
        [attr.aria-expanded]="isOpen['checkbox']"
        [attr.aria-label]="
          isOpen['checkbox']
            ? 'Collapse checkbox section'
            : 'Expand checkbox section'
        "
      >
        <span> Checkbox </span>
        <div class="icon" [class.open]="isOpen['checkbox']">
          <img src="assets/images/vector.svg" alt="" />
        </div>
      </div>
      <ul class="sub-menu" role="list" [class.open]="isOpen['checkbox']">
        <li>
          <a
            [routerLink]="'/' + activeLang + '/checkbox/checkbox1'"
            routerLinkActive="active"
            aria-label="Go to Simple Checkbox"
            (click)="onLinkClick()"
          >
            Simple checkbox
          </a>
        </li>
        <li>
          <a
            [routerLink]="'/' + activeLang + '/checkbox/checkbox-list'"
            routerLinkActive="active"
            aria-label="Go to Checkbox list"
            (click)="onLinkClick()"
          >
            Checkbox list
          </a>
        </li>
      </ul>
    </li>

    <li class="item" [class.open]="isOpen['dropdown']">
      <a
        [routerLink]="'/' + activeLang + '/dropdown/dropdown1'"
        routerLinkActive="active"
        aria-label="Go to Dropdown component"
        (click)="onLinkClick()"
      >
        Dropdown
      </a>
    </li>

    <li class="item" [class.open]="isOpen['footnote']">
      <a
        [routerLink]="'/' + activeLang + '/footnote/footnote1'"
        routerLinkActive="active"
        aria-label="Go to Footnote component"
        (click)="onLinkClick()"
      >
        Footnote
      </a>
    </li>

    <li class="item with-content" [class.open]="isOpen['login']">
      <div
        class="sub-title"
        tabindex="0"
        (click)="toggleSection('login')"
        (keydown)="handleKeydown($event, 'login')"
        [attr.aria-expanded]="isOpen['login']"
        aria-controls="login-sub-menu"
        [attr.aria-label]="
          isOpen['login'] ? 'Collapse Login section' : 'Expand Login section'
        "
        role="button"
      >
        <span> Login </span>
        <div class="icon" [class.open]="isOpen['login']">
          <img src="assets/images/vector.svg" alt="" />
        </div>
      </div>
      <ul class="sub-menu" role="list" [class.open]="isOpen['login']">
        <li>
          <a
            [routerLink]="'/' + activeLang + '/login/login1'"
            routerLinkActive="active"
            aria-label="Go to Login with email"
            (click)="onLinkClick()"
          >
            with email
          </a>
        </li>
        <li>
          <a
            [routerLink]="'/' + activeLang + '/login/login2'"
            routerLinkActive="active"
            aria-label="Go to Login with username"
            (click)="onLinkClick()"
          >
            with username
          </a>
        </li>
      </ul>
    </li>
    <li class="item" [class.open]="isOpen['menu']">
      <a
        [routerLink]="'/' + activeLang + '/menu/burger-menu'"
        routerLinkActive="active"
        aria-label="Go to menu component"
        (click)="onLinkClick()"
      >
        Menu
      </a>
    </li>

    <li class="item" [class.open]="isOpen['modal']">
      <a
        [routerLink]="'/' + activeLang + '/modal/modal1'"
        routerLinkActive="active"
        aria-label="Go to Modal component"
        (click)="onLinkClick()"
      >
        Modal
      </a>
    </li>

    <li class="item" [class.open]="isOpen['pagination']">
      <a
        [routerLink]="'/' + activeLang + '/pagination/pagination1'"
        routerLinkActive="active"
        aria-label="Go to Pagination component"
        (click)="onLinkClick()"
      >
        Pagination
      </a>
    </li>

    <li class="item" [class.open]="isOpen['radio-button']">
      <a
        [routerLink]="'/' + activeLang + '/radio-button/radio-button1'"
        aria-label="Go to Radio-button component"
        routerLinkActive="active"
        (click)="onLinkClick()"
      >
        Radio-button
      </a>
    </li>

    <li class="item" [class.open]="isOpen['search-bar']">
      <a
        [routerLink]="'/' + activeLang + '/search-bar/search-bar1'"
        routerLinkActive="active"
        aria-label="Go to search-bar component"
        (click)="onLinkClick()"
      >
        Search-bar
      </a>
    </li>

    <li class="item" [class.open]="isOpen['show-more']">
      <a
        [routerLink]="'/' + activeLang + '/show-more/show-more1'"
        routerLinkActive="active"
        aria-label="Go to Show-more component"
        (click)="onLinkClick()"
      >
        Show-more
      </a>
    </li>
    <li class="item" [class.open]="isOpen['stepper']">
      <a
        [routerLink]="'/' + activeLang + '/stepper/stepper1'"
        routerLinkActive="active"
        aria-label="Go to Stepper component"
        (click)="onLinkClick()"
      >
        Stepper
      </a>
    </li>

    <li class="item" [class.open]="isOpen['tab-panel']">
      <a
        [routerLink]="'/' + activeLang + '/tab-panel/tab-panel1'"
        routerLinkActive="active"
        aria-label="Go to Tab-panel component"
        (click)="onLinkClick()"
      >
        Tab-panel
      </a>
    </li>
    <li class="item" [class.open]="isOpen['table']">
      <a
        [routerLink]="'/' + activeLang + '/table/table1'"
        routerLinkActive="active"
        aria-label="Go to Table component"
        (click)="onLinkClick()"
      >
        Table
      </a>
    </li>
    <li class="item with-content" [class.open]="isOpen['toggle']">
      <div
        class="sub-title"
        tabindex="0"
        (click)="toggleSection('toggle')"
        (keydown)="handleKeydown($event, 'toggle')"
        [attr.aria-expanded]="isOpen['toggle']"
        role="button"
        aria-controls="toggle-sub-menu"
        [attr.aria-label]="
          isOpen['toggle'] ? 'Collapse Toggle section' : 'Expand Toggle section'
        "
      >
        <span> Toggle </span>
        <div class="icon" [class.open]="isOpen['toggle']">
          <img src="assets/images/vector.svg" alt="" />
        </div>
      </div>
      <ul class="sub-menu" role="list" [class.open]="isOpen['toggle']">
        <li>
          <a
            [routerLink]="'/' + activeLang + '/toggle/toggle1'"
            routerLinkActive="active"
            aria-label="Go to Simple Toggle"
            (click)="onLinkClick()"
          >
            Simple
          </a>
        </li>
        <li>
          <a
            [routerLink]="'/' + activeLang + '/toggle/toggle2'"
            routerLinkActive="active"
            aria-label="Go to Toggle With text"
            (click)="onLinkClick()"
          >
            With text
          </a>
        </li>
        <li>
          <a
            [routerLink]="'/' + activeLang + '/toggle/toggle3'"
            routerLinkActive="active"
            aria-label="Go to Toggle With indication"
            (click)="onLinkClick()"
          >
            With indication
          </a>
        </li>
      </ul>
    </li>

    <li class="item with-content" [class.open]="isOpen['tooltip']">
      <div
        class="sub-title"
        tabindex="0"
        (click)="toggleSection('tooltip')"
        (keydown)="handleKeydown($event, 'tooltip')"
        [attr.aria-expanded]="isOpen['tooltip']"
        role="button"
        aria-controls="tooltip-sub-menu"
        [attr.aria-label]="
          isOpen['tooltip']
            ? 'Collapse Tooltip section'
            : 'Expand Tooltip section'
        "
      >
        <span> Tooltip </span>
        <div class="icon" [class.open]="isOpen['tooltip']">
          <img src="assets/images/vector.svg" alt="" />
        </div>
      </div>
      <ul class="sub-menu" role="list" [class.open]="isOpen['tooltip']">
        <li>
          <a
            [routerLink]="'/' + activeLang + '/tooltip/tooltip1'"
            routerLinkActive="active"
            aria-label="Go to Tooltip Clickable"
            (click)="onLinkClick()"
          >
            Clickable
          </a>
        </li>
        <li>
          <a
            [routerLink]="'/' + activeLang + '/tooltip/tooltip2'"
            routerLinkActive="active"
            aria-label="Go to Tooltip Hover"
            (click)="onLinkClick()"
          >
            Hover
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
