@use '../../../assets/styles/index.scss' as *;

:host {
  top: 0;
  z-index: 1000;
}

.menu-list {
  color: #fff;
  display: flex;
  width: 90%;
  height: 100%;
  padding: 24px 8px 10px 8px;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: 'Mulish-bold';
  .item {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    a {
      padding: 10px 10px 10px 30px;
      width: 100%;
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      &:focus,
      &:hover,
      &:active {
        background-color: #b00057;
        border-radius: 4px;
        font-weight: 700;
      }
    }
  }
  .with-content {
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    .sub-title {
      padding: 10px 10px 10px 30px;

      font-size: 14px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      &:focus,
      &:hover,
      &:active {
        background-color: #b00057;
        border-radius: 4px;
      }
    }
    .sub-menu {
      list-style: none;
      display: none;
      li {
        display: flex;
        width: 100%;
      }
      a {
        text-decoration: none;
        width: 100%;
        padding: 10px;
        color: #fff;
        &:focus,
        &:hover,
        &:active {
          background-color: #b00057;
          border-radius: 4px;
        }
      }
    }
    &.open .sub-menu {
      display: block;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    img {
      transition: transform 0.3s ease;
      transform: rotate(180deg);
    }
    &.open img {
      transform: rotate(0deg);
    }
  }
}
@media (max-width: 852px) {
  .sidebar-menu {
    width: 100vw;
    height: 100vh;
  }
  .menu-list {
    background-color: #2e3243;
    overflow-y: auto;
  }
}
