<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h1>{{ 'toggle.title3' | transloco }}</h1>
    </div>
    <p>
      {{ 'toggle.intro1' | transloco }}
      {{ 'toggle.intro2' | transloco }}
    </p>
  </div>

  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="toggle" lang="en">
      <ip-toggle size="small">
        <!-- eslint-disable-next-line -->
        <label class="switch-label" slot="switch-label"
          >Activate strong authentication</label
        >
      </ip-toggle>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet [htmlCode]="toggleWithIndicCode"> </app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-toogle></app-doc-toogle>
  </app-accordion>
</div>
