<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>COMPONENTS</p>
      <h2>Toggle with indication</h2>
    </div>
    <p>
      Used in digital interfaces to switch a single setting or option on and
      off. Resembling a physical switch, it provides a clear visual cue of its
      state, making it intuitive for users. Toggles are commonly employed for
      binary settings like turning options on or off in applications and
      websites, offering a simpler alternative to checkboxes for immediate,
      single-action settings.
    </p>
  </div>
  <app-accordion title="Preview" [alwaysOpen]="true">
    <div class="toggle">
      <ip-toggle size="small">
        <!-- eslint-disable-next-line -->
        <label class="switch-label" slot="switch-label"
          >Activate strong authentication</label
        >
      </ip-toggle>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet [htmlCode]="toggleWithIndicCode"> </app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-toogle></app-doc-toogle>
  </app-accordion>
</div>
