<header role="banner">
  <div class="wrapper">
    <div id="lp-content" class="head">
      <div class="back-wrapper">
        <a
          [href]="backLink"
          [attr.aria-label]="'common.label.backAria' | transloco"
        >
          <img
            src="assets/images/back-arrow.png"
            alt=""
            width="40"
            height="40"
          />
          <span>{{ 'common.label.back' | transloco }}</span>
        </a>
      </div>

      <a
        class="title-link"
        href="https://www.ipedis.com"
        target="_blank"
        [attr.aria-label]="'common.label.ipedisAria' | transloco"
      >
        <img
          class="logo"
          src="assets/logo/logoIpedis.png"
          alt="Logo Ipedis"
          width="121"
          height="44"
        />
      </a>
    </div>
    <div class="lang">
      <button
        (click)="toggleLang()"
        [attr.aria-label]="'common.label.languageSwitcher' | transloco"
      >
        <span class="lang-desktop">{{ nextLang }}</span>

        <span class="lang-mobile">
          {{ nextLang === 'French' ? 'FR' : 'EN' }}
        </span>
        @if (nextLang === 'French') {
          <img
            src="assets/images/french-flag.png"
            alt=""
            width="16"
            height="16"
          />
        }
        @if (nextLang === 'Anglais') {
          <img src="assets/images/en-flag.png" alt="" width="16" height="16" />
        }
      </button>
    </div>
  </div>
</header>
