<header role="banner">
  <div id="lp-content" class="head">
    <div class="back-wrapper">
      <a href="" aria-label="Back to Ipedis Design system">
        <img src="assets/images/back-arrow.png" alt="" />
        <span>Back</span>
      </a>
    </div>

    <a
      class="title-link"
      href="www.ipedis.com"
      target="_blank"
      aria-label="Go to Ipedis Website- New window"
    >
      <img class="logo" src="assets/logo/logoIpedis.png" alt="Logo Ipedis" />
      <div class="title">
        <!-- <span>Demo Web Components</span> -->
      </div>
    </a>
  </div>
</header>
