@use '../../../assets/styles/index.scss' as *;

h1 {
  margin: rem(30) rem(30) rem(30) 0;
  color: #2e3243;
  font-size: rem(40);
  font-family: 'Mulish-bold';
}

h2 {
  color: #2e3243;
}

.intro {
  line-height: 1.6;
}
.content {
  padding: rem(25);
  font-family: 'Mulish-light';
  background-color: #fff;

  height: 675px;
  overflow-y: auto;
  border-radius: rem(15);
}
