<div class="content">
  <h1>Introduction</h1>

  <div class="intro">
    <p>
      {{ 'app.intro1' | transloco }}
    </p>
    <p>
      {{ 'app.intro2' | transloco }}
    </p>
    <p>
      {{ 'app.intro3' | transloco }}
    </p>
    <p>
      {{ 'app.intro4' | transloco }}
    </p>
    <p>
      {{ 'app.intro5' | transloco }}
    </p>
  </div>
  <div class="mail">
    <h2>{{ 'app.question' | transloco }}</h2>
    <p>
      {{ 'app.contact' | transloco }}
      <a href="mailto:contact@ipedis.com">contact&#64;ipedis.com</a>.
    </p>
  </div>
</div>
