<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    {{ 'stepper.docs.installation' | transloco }}
  </p>
  <h4>{{ 'stepper.docs.step1' | transloco }}</h4>
  <p>
    {{ 'stepper.docs.step1desc' | transloco }}
  </p>
  <pre><code [highlight]="installationScript" language="bash">npm install ip-accordion</code></pre>

  <h4>{{ 'stepper.docs.step2' | transloco }}</h4>
  <p>{{ 'stepper.docs.step2desc' | transloco }}</p>
  <pre><code [highlight]="import" language="typescript"></code></pre>

  <h3 class="under-title">{{ 'stepper.docs.usage' | transloco }}</h3>
  <p>
    {{ 'stepper.docs.usageDesc1' | transloco
    }}{{ 'stepper.docs.usageDesc2' | transloco }}
  </p>
  <h4>{{ 'stepper.docs.Properties' | transloco }}</h4>
  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'stepper.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'stepper.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'stepper.docs.propertyTable.necessity' | transloco }}
        </th>
        <th scope="col">
          {{ 'stepper.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">{{ 'stepper.docs.propertyTable.type' | transloco }}</th>
        <th scope="col">
          {{ 'stepper.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'stepper.docs.tableLine1.property' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine1.attribute' | transloco }}
        </td>
        <td>
          {{ 'stepper.docs.tableLine1.necessity' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine1.description' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine1.type' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>
          {{ 'stepper.docs.tableLine2.property' | transloco }}
        </td>
        <td>
          {{ 'stepper.docs.tableLine2.attribute' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine2.necessity' | transloco }}</td>
        <td>{{ 'stepper.docs.tableLine2.description' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine2.type' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine2.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'stepper.docs.tableLine3.property' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine3.attribute' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine3.necessity' | transloco }}</td>
        <td>{{ 'stepper.docs.tableLine3.description' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine3.type' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine3.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'stepper.docs.tableLine4.property' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine4.attribute' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine4.necessity' | transloco }}</td>
        <td>{{ 'stepper.docs.tableLine4.description' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine4.type' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine4.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'stepper.docs.tableLine5.property' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine5.attribute' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine5.necessity' | transloco }}</td>
        <td>{{ 'stepper.docs.tableLine5.description' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine5.type' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine5.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'stepper.docs.tableLine6.property' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine6.attribute' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine6.necessity' | transloco }}</td>
        <td>{{ 'stepper.docs.tableLine6.description' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine6.type' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine6.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'stepper.docs.tableLine7.property' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine7.attribute' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine7.necessity' | transloco }}</td>
        <td>{{ 'stepper.docs.tableLine7.description' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine7.type' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine7.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'stepper.docs.tableLine8.property' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine8.attribute' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine8.necessity' | transloco }}</td>
        <td>{{ 'stepper.docs.tableLine8.description' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine8.type' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine8.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'stepper.docs.tableLine9.property' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine9.attribute' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine9.necessity' | transloco }}</td>
        <td>{{ 'stepper.docs.tableLine9.description' | transloco }}</td>
        <td>
          {{ 'stepper.docs.tableLine9.type' | transloco }}
        </td>
        <td>{{ 'stepper.docs.tableLine9.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>
  <h4>{{ 'stepper.docs.content' | transloco }}</h4>
  <p>
    {{ 'stepper.docs.contentDesc' | transloco }}
  </p>
  <ul>
    <li>
      <code>slot="step1"</code>: {{ 'stepper.docs.slot1Desc' | transloco }}
    </li>
    <li>
      <code>slot="step2"</code>: {{ 'stepper.docs.slot2Desc' | transloco }}
    </li>
    <li>
      <code>slot="step3"</code>: {{ 'stepper.docs.slot3Desc' | transloco }}
    </li>
    <li>
      <code>slot="step4"</code>: {{ 'stepper.docs.slot4Desc' | transloco }}
    </li>
  </ul>
  <p>
    <em>{{ 'stepper.docs.example' | transloco }}</em>
  </p>
  <pre class="example">
    <code [highlight]="example" language="html"></code>
  </pre>
  <h3 class="under-title">{{ 'stepper.docs.personnalisation' | transloco }}</h3>
  <p>{{ 'stepper.docs.personnalisationDesc' | transloco }}</p>
  <ul>
    <li><code>--primary-color</code></li>
    <li><code>--secondary-color</code></li>
    <li><code>--indicator-text-color</code></li>
  </ul>
  <p>
    <em>{{ 'stepper.docs.example' | transloco }}</em>
  </p>

  <p>{{ 'stepper.docs.introClasses' | transloco }}</p>
  <pre class="example">
        <code [highlight]="custom" language="css"></code>
       </pre>
  <h3 class="under-title">{{ 'stepper.docs.event' | transloco }}</h3>
  <p>
    {{ 'stepper.docs.eventDesc1' | transloco }}
    {{ 'stepper.docs.eventDesc2' | transloco }}
  </p>
  <p>
    {{ 'stepper.docs.eventDesc3' | transloco }}
  </p>
  <pre class="javascript">
    <code [highlight]="event" language="typescript"></code>
   </pre>
</section>
