@use '../../../../assets/styles/index.scss' as *;
.preview {
  margin: rem(150) rem(100) rem(50);

  display: flex;
  justify-content: center;
  align-items: center;
}

ip-tooltip::part(tooltip-trigger) {
  font-family: 'Mulish-light';
  width: 125px;
  height: 40px;
  font-size: 18px;
  &:focus,
  &:hover {
    outline: 3px solid #000;
    outline-offset: 3px;
  }
}
ip-tooltip::part(tooltip-content) {
  font-family: 'Mulish-light';
  font-size: 16px;
}
