<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h2>{{ 'tooltip.title1' | transloco }}</h2>
    </div>
    <p>{{ 'tooltip.intro1' | transloco }}{{ 'tooltip.intro2' | transloco }}</p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="preview" lang="en">
      <ip-tooltip
        tooltip-trigger="Click Me!"
        tooltip-content="Please enter a description of the tooltip. The length is 3/4 lines maximum. Arrows can be adjusted position."
        type="click"
      >
      </ip-tooltip>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet [htmlCode]="clickableCode" [cssCode]="cssTooltip1">
    </app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-tooltip></app-doc-tooltip>
  </app-accordion>
</div>
