<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h2>{{ 'checkboxList.title' | transloco }}</h2>
    </div>
    <p>
      {{ 'checkboxList.introPart1' | transloco }}
      {{ 'checkboxList.introPart2' | transloco }}
      {{ 'checkboxList.introPart3' | transloco }}
    </p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="checkbox-wrapper">
      <div class="checkbox-list">
        <ip-checkbox-list
          legend="Select the options below:"
          options='[
            &#123;"id": "agree", "label": "I agree to the terms and conditions.", "defaultChecked": true , "disabled": true&#125;,
            &#123;"id": "remember", "label": "Remember me on this device", "disabled": true&#125;, 
            &#123;"id": "newsletter", "label": "subscribe to our newsletter for updates.","defaultChecked": true&#125;,
            &#123;"id": "send", "label": "Send me promotional offers and discounts."&#125;,
            &#123;"id": "participate", "label": "Participate in our user feddback program."&#125;
            ]'
        >
        </ip-checkbox-list>
      </div>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet [htmlCode]="checkboxListCode"></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <section id="documentation">
      <h3 class="under-title">Installation</h3>
      <p>
        {{ 'checkboxList.docs.installation' | transloco }}
      </p>
      <h4>{{ 'checkboxList.docs.step1' | transloco }}</h4>
      <p>
        {{ 'checkboxList.docs.step1desc' | transloco }}
      </p>
      <pre><code>npm install ip-checkbox-list</code></pre>
      <h4>{{ 'checkboxList.docs.step2' | transloco }}</h4>
      <p>{{ 'checkboxList.docs.step2desc' | transloco }}</p>
      <pre><code [highlight]="import" language="typescript"> </code></pre>
      <h3 class="under-title">Usage</h3>
      <p>{{ 'checkboxList.docs.usageDesc' | transloco }}</p>
      <h4>{{ 'checkboxList.docs.properties' | transloco }}</h4>
      <table>
        <thead>
          <tr>
            <th scope="col">
              {{ 'checkboxList.docs.propertyTable.property' | transloco }}
            </th>
            <th scope="col">
              {{ 'checkboxList.docs.propertyTable.attribute' | transloco }}
            </th>
            <th scope="col">
              {{ 'checkboxList.docs.propertyTable.necessity' | transloco }}
            </th>
            <th scope="col">
              {{ 'checkboxList.docs.propertyTable.description' | transloco }}
            </th>
            <th scope="col">
              {{ 'checkboxList.docs.propertyTable.type' | transloco }}
            </th>
            <th scope="col">
              {{ 'checkboxList.docs.propertyTable.default' | transloco }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <code>{{
                'checkboxList.docs.tableLine2.property' | transloco
              }}</code>
            </td>
            <td>
              <code>{{
                'checkboxList.docs.tableLine2.attribute' | transloco
              }}</code>
            </td>
            <td>{{ 'checkboxList.docs.tableLine2.necessity' | transloco }}</td>
            <td>
              {{ 'checkboxList.docs.tableLine2.description' | transloco }}
            </td>
            <td>
              <code>{{ 'checkboxList.docs.tableLine2.type' | transloco }}</code>
            </td>
            <td>
              <code>{{
                'checkboxList.docs.tableLine2.default' | transloco
              }}</code>
            </td>
          </tr>
          <tr>
            <td>
              <code>{{
                'checkboxList.docs.tableLine1.property' | transloco
              }}</code>
            </td>
            <td><code>id</code></td>
            <td>{{ 'checkboxList.docs.tableLine1.necessity' | transloco }}</td>
            <td>
              {{ 'checkboxList.docs.tableLine1.description' | transloco }}
            </td>
            <td>
              <code>{{ 'checkboxList.docs.tableLine1.type' | transloco }}</code>
            </td>
            <td>
              <code>{{
                'checkboxList.docs.tableLine1.default' | transloco
              }}</code>
            </td>
          </tr>
          <tr>
            <td>
              <code>{{
                'checkboxList.docs.tableLine3.property' | transloco
              }}</code>
            </td>
            <td>
              <code>{{
                'checkboxList.docs.tableLine3.attribute' | transloco
              }}</code>
            </td>
            <td>{{ 'checkboxList.docs.tableLine3.necessity' | transloco }}</td>
            <td>
              {{ 'checkboxList.docs.tableLine3.description' | transloco }}
            </td>
            <td>
              <code>{{ 'checkboxList.docs.tableLine3.type' | transloco }}</code>
            </td>
            <td>
              <code>{{
                'checkboxList.docs.tableLine3.default' | transloco
              }}</code>
            </td>
          </tr>
          <tr>
            <td>
              <code>{{
                'checkboxList.docs.tableLine4.property' | transloco
              }}</code>
            </td>
            <td>
              <code>{{
                'checkboxList.docs.tableLine4.attribute' | transloco
              }}</code>
            </td>
            <td>{{ 'checkboxList.docs.tableLine4.necessity' | transloco }}</td>
            <td>
              {{ 'checkboxList.docs.tableLine4.description' | transloco }}
            </td>
            <td>
              <code>{{ 'checkboxList.docs.tableLine4.type' | transloco }}</code>
            </td>
            <td>
              <code>{{
                'checkboxList.docs.tableLine4.default' | transloco
              }}</code>
            </td>
          </tr>
          <tr>
            <td>
              <code>{{
                'checkboxList.docs.tableLine5.property' | transloco
              }}</code>
            </td>
            <td>
              <code>{{
                'checkboxList.docs.tableLine5.attribute' | transloco
              }}</code>
            </td>
            <td>{{ 'checkboxList.docs.tableLine5.necessity' | transloco }}</td>
            <td>
              {{ 'checkboxList.docs.tableLine5.description' | transloco }}
            </td>
            <td>
              <code>{{ 'checkboxList.docs.tableLine5.type' | transloco }}</code>
            </td>
            <td>
              <code>{{
                'checkboxList.docs.tableLine5.default' | transloco
              }}</code>
            </td>
          </tr>
        </tbody>
      </table>
      <h4>{{ 'checkboxList.docs.example' | transloco }}:</h4>
      <pre><code [highlight]="example" language="html"></code></pre>
      <h3 class="under-title">
        {{ 'checkboxList.docs.personnalisation' | transloco }}
      </h3>
      <p>
        {{ 'checkboxList.docs.personnalisationDesc' | transloco }}
      </p>
      <ul>
        <li><code>--primary-color</code></li>
        <li><code>--secondary-color</code></li>
        <li><code>--font-size</code></li>
        <li><code>--checkbox-size</code></li>
      </ul>
      {{ 'checkboxList.docs.exampleDesc' | transloco }}
      <p></p>
      <pre><code [highlight]="customCSS" language="css"></code></pre>
      <h3 class="under-title">
        {{ 'checkboxList.docs.event' | transloco }}
      </h3>
      <p>
        {{ 'checkboxList.docs.eventDesc1' | transloco }}
        {{ 'checkboxList.docs.eventDesc2' | transloco }}
      </p>
      <h4>{{ 'checkboxList.docs.jsExample' | transloco }}</h4>
      <pre><code [highlight]="event" language="typescript">
              </code></pre>
    </section>
  </app-accordion>
</div>
