@use '../../../../assets/styles/index.scss' as *;

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: rem(70) 0;
}
.checkbox-list {
  background-color: #fff;
  padding: 25px;
}
.content {
  background-color: #f4f4f4;
  height: rem(675);
  overflow-y: auto;
  border-radius: 0 0 rem(15) rem(15);
}
.wrapper-title {
  color: #fff;
  font-family: 'Mulish-light';
  font-size: rem(16);
  font-style: normal;
  line-height: normal;

  h3 {
    color: #fff;
    font-size: rem(40);
    font-weight: 800;
    margin: rem(15) 0;
  }
  .breadcrumb {
    font-weight: 400;
    ol {
      display: flex;
      gap: rem(10);
      li {
        color: #fff;
        font-size: rem(16);
        font-weight: 400;
        list-style: none;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
.preview {
  display: flex;
  justify-content: center;
  .accordion-wrapper {
    padding-top: rem(10);
    width: 85%;
  }
}
