<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    {{ 'login.docs.installation' | transloco }}
  </p>
  <h4>
    {{ 'login.docs.step1' | transloco }}
  </h4>
  <p>
    {{ 'login.docs.step1desc' | transloco }}
  </p>
  <pre><code [highlight]="installationScript" language="typescript"></code></pre>
  <h4>
    {{ 'login.docs.step2' | transloco }}
  </h4>
  <p>{{ 'login.docs.step2desc' | transloco }}</p>
  <pre><code [highlight]="import" language="typescript"></code></pre>
  <h3 class="under-title">{{ 'login.docs.usage' | transloco }}</h3>

  <p>
    {{ 'login.docs.usageDesc' | transloco }}
  </p>
  <h4>{{ 'login.docs.properties' | transloco }}</h4>
  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'login.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'login.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'login.docs.propertyTable.necessity' | transloco }}
        </th>
        <th scope="col">
          {{ 'login.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">{{ 'login.docs.propertyTable.type' | transloco }}</th>
        <th scope="col">
          {{ 'login.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'login.docs.tableLine1.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine1.attribute' | transloco }}
        </td>
        <td>
          {{ 'login.docs.tableLine1.necessity' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine1.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine1.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>
          {{ 'login.docs.tableLine2.property' | transloco }}
        </td>
        <td>
          {{ 'login.docs.tableLine2.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine2.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine2.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine2.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine2.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine3.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine3.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine3.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine3.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine3.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine3.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine4.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine4.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine4.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine4.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine4.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine4.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine5.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine5.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine5.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine5.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine5.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine5.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine6.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine6.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine6.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine6.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine6.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine6.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine7.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine7.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine7.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine7.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine7.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine7.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine8.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine8.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine8.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine8.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine8.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine8.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine9.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine9.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine9.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine9.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine9.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine9.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine10.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine10.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine10.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine10.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine10.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine10.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine11.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine11.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine11.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine11.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine11.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine11.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine12.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine12.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine12.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine12.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine12.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine12.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine13.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine13.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine13.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine13.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine13.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine13.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine14.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine14.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine14.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine14.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine14.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine14.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine15.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine15.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine15.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine15.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine15.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine15.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine16.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine16.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine16.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine16.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine16.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine16.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine17.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine17.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine17.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine17.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine17.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine17.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine18.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine18.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine18.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine18.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine18.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine18.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine19.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine19.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine19.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine19.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine19.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine19.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'login.docs.tableLine20.property' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine20.attribute' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine20.necessity' | transloco }}</td>
        <td>{{ 'login.docs.tableLine20.description' | transloco }}</td>
        <td>
          {{ 'login.docs.tableLine20.type' | transloco }}
        </td>
        <td>{{ 'login.docs.tableLine20.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>
  <p>
    <em>{{ 'login.docs.example' | transloco }}</em>
  </p>
  <pre><code [highlight]="example" language="html"></code></pre>

  <h3 class="under-title">{{ 'login.docs.personnalisation' | transloco }}</h3>
  <p>
    {{ 'login.docs.personnalisationDesc' | transloco }}
  </p>

  <h4>{{ 'login.docs.varCSS' | transloco }}</h4>
  <ul>
    <li><code>--primary-color</code></li>
    <li><code>--secondary-color</code></li>
    <li><code>--focus-color</code></li>
  </ul>

  <h4>{{ 'login.docs.selectors' | transloco }}</h4>

  <ul>
    <li><code>title</code>: {{ 'login.docs.selector1Desc' | transloco }}</li>
    <li>
      <code>indication</code>: {{ 'login.docs.selector2Desc' | transloco }}
    </li>
    <li>
      <code>username-label</code>: {{ 'login.docs.selector3Desc' | transloco }}
    </li>
    <li>
      <code>username-input</code>: {{ 'login.docs.selector4Desc' | transloco }}
    </li>
    <li>
      <code>passsword-label</code>: {{ 'login.docs.selector5Desc' | transloco }}
    </li>
    <li>
      <code>passsword-input</code>: {{ 'login.docs.selector6Desc' | transloco }}
    </li>
    <li>
      <code>toggle-password</code>: {{ 'login.docs.selector7Desc' | transloco }}
    </li>
    <li>
      <code>error-message</code>: {{ 'login.docs.selector8Desc' | transloco }}
    </li>
    <li>
      <code>forgot-password</code>: {{ 'login.docs.selector9Desc' | transloco }}
    </li>
    <li>
      <code>submit-btn</code>: {{ 'login.docs.selector10Desc' | transloco }}
    </li>
  </ul>

  <p>{{ 'login.docs.introClasses' | transloco }}</p>
  <pre><code [highlight]="custom" language="css"></code></pre>

  <h3 class="under-title">{{ 'login.docs.event' | transloco }}</h3>
  <p>
    {{ 'login.docs.eventDesc1' | transloco }}
    {{ 'login.docs.eventDesc2' | transloco }}
  </p>
  <p>
    <em>{{ 'login.docs.example' | transloco }} </em>
  </p>
  <pre><code [highlight]="eventListener" language="typescript"></code></pre>
</section>
