@use '../../../../assets/styles/index.scss' as *;

.preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: rem(25) 0;
}
.login {
  padding: rem(20);
  border: 1px solid $darkColor;
  border-radius: rem(5);
  box-shadow: 0 rem(10) rem(20) rgba($darkColor, 0.1);
  background-color: #fff;

  .social-media {
    padding-top: 38px;
    padding-bottom: 80px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    .text {
      color: #384048;
      font-family: 'Mulish-light';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
    }
    .logo-list {
      display: flex;
      justify-content: center;
      .twitter,
      .google,
      .facebook {
        width: rem(40);
        height: rem(40);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: rem(10);
        cursor: pointer;
        .icon {
          color: #fff;
          font-size: rem(20);
        }

        &:focus,
        &:hover {
          outline: 3px solid hsl(221, 58%, 48%);
          outline-offset: 3px;
        }
      }
      .twitter {
        background-color: #4ca1ea;
        border-radius: 50%;
      }
      .google {
        background-color: #f44336;
        border-radius: 50%;
      }
      .facebook {
        background-color: #3b5998;
        border-radius: 50%;
      }
    }
  }

  .create-account {
    color: #384048;
    font-family: 'Mulish-light';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .login {
    max-width: 100%;
    margin: 0 10px;
  }

  ip-login::part(login-form) {
    max-width: 250px;
  }
}
