<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h2>{{ 'footnote.title' | transloco }}</h2>
    </div>
    <p>{{ 'footnote.intro' | transloco }}</p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="footnote-wrapper" lang="en">
      <p>
        Here is a sentence with a footnote reference
        <sup><a href="#footnote-1" id="ref1">1</a></sup
        >.
      </p>

      <ip-footnote
        id="footnote-1"
        identifier="1"
        text="This is a detailed explanation or reference for the footnote."
      >
      </ip-footnote>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet [htmlCode]="codeSnippet"></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-footnote></app-doc-footnote>
  </app-accordion>
</div>
