<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    {{ 'accordion.docs.installation' | transloco }}
  </p>
  <h4>{{ 'accordion.docs.step1' | transloco }}</h4>
  <p>
    {{ 'accordion.docs.step1desc' | transloco }}
  </p>
  <pre><code [highlight]="installationScript" language="bash">npm install ip-accordion</code></pre>

  <h4>{{ 'accordion.docs.step2' | transloco }}</h4>
  <p>{{ 'accordion.docs.step2desc' | transloco }}</p>
  <pre><code [highlight]="code" language="typescript"></code></pre>

  <h3 class="under-title">{{ 'accordion.docs.usage' | transloco }}</h3>

  <p>
    {{ 'accordion.docs.usageDesc' | transloco }}
  </p>
  <h4>{{ 'accordion.docs.properties' | transloco }}</h4>
  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'accordion.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'accordion.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'accordion.docs.propertyTable.necessity' | transloco }}
        </th>
        <th scope="col">
          {{ 'accordion.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">
          {{ 'accordion.docs.propertyTable.type' | transloco }}
        </th>
        <th scope="col">
          {{ 'accordion.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>accordionHeaders</td>
        <td>accordion-headers</td>
        <td>{{ 'accordion.docs.tableLine1.necessity' | transloco }}</td>
        <td>{{ 'accordion.docs.tableLine1.description' | transloco }}</td>
        <td>accordionHeadersInterface[] | string</td>
        <td>{{ 'accordion.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>isFirstPanelOpen</td>
        <td>is-first-panel-open</td>
        <td>{{ 'accordion.docs.tableLine2.necessity' | transloco }}</td>
        <td>{{ 'accordion.docs.tableLine2.description' | transloco }}</td>
        <td>boolean</td>
        <td>{{ 'accordion.docs.tableLine2.default' | transloco }}</td>
      </tr>
      <tr>
        <td>isSingleOpen</td>
        <td>is-single-open</td>
        <td>{{ 'accordion.docs.tableLine3.necessity' | transloco }}</td>
        <td>{{ 'accordion.docs.tableLine3.description' | transloco }}</td>
        <td>boolean</td>
        <td>{{ 'accordion.docs.tableLine3.default' | transloco }}</td>
      </tr>
      <tr>
        <td>titleTag</td>
        <td>title-tag</td>
        <td>{{ 'accordion.docs.tableLine4.necessity' | transloco }}</td>
        <td>{{ 'accordion.docs.tableLine4.description' | transloco }}</td>
        <td>string</td>
        <td>{{ 'accordion.docs.tableLine4.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>
  <h4>accordion-headers</h4>
  <p>
    {{ 'accordion.docs.property1.desc' | transloco }}
  </p>
  <ul>
    <li>
      <strong>title</strong> :
      {{ 'accordion.docs.property1.prop1.description' | transloco }}
    </li>
    <li>
      <strong>iconPath</strong> :
      {{ 'accordion.docs.property1.prop2.description' | transloco }}
    </li>
    <li>
      <strong>iconActivePath</strong>
      : {{ 'accordion.docs.property1.prop3.description' | transloco }}
    </li>
    <li>
      <strong>subtitle</strong>:
      {{ 'accordion.docs.property1.prop4.description' | transloco }}
    </li>
    <li>
      <strong>btnAlt</strong>:
      {{ 'accordion.docs.property1.prop5.description' | transloco }}
    </li>
    <li>
      <strong>btnAltClose</strong>:
      {{ 'accordion.docs.property1.prop6.description' | transloco }}
    </li>
    <li>
      <strong>id</strong>:
      {{ 'accordion.docs.property1.prop7.description' | transloco }}
    </li>
    <li>
      <strong>ariaText</strong>:
      {{ 'accordion.docs.property1.prop8.description' | transloco }}
    </li>
  </ul>

  <h4>
    {{ 'accordion.docs.property2.title' | transloco }}
  </h4>

  <p>
    {{ 'accordion.docs.property2.desc' | transloco }}
  </p>

  <p>
    <em> {{ 'accordion.docs.example' | transloco }} </em>
  </p>
  <pre><code [highlight]="example" language="html"></code></pre>

  <h3 class="under-title">
    {{ 'accordion.docs.personnalisation' | transloco }}
  </h3>
  <p>
    {{ 'accordion.docs.personnalisationDesc' | transloco }}
  </p>
  <ul>
    <li><code>--ip-acc-primary-color</code></li>
    <li><code>--ip-acc-secondary-color</code></li>
    <li><code>--ip-acc-font</code></li>
    <li><code>--ip-acc-icon-size</code></li>
  </ul>
  <p>
    {{ 'accordion.docs.introClasses' | transloco }}
  </p>
  <pre class="code-block">
    <code [highlight]="custom" language="css"></code>
  </pre>

  <h4>Class</h4>
  <p>
    {{ 'accordion.docs.classes.classesIntro' | transloco }}
  </p>
  <ul>
    <li>
      <code>ip-accordion</code>:
      {{ 'accordion.docs.classes.class1desc' | transloco }}
    </li>
    <li>
      <code>acc-content</code>:
      {{ 'accordion.docs.classes.class2desc' | transloco }}
    </li>
    <li>
      <code>acc-header</code>:{{
        'accordion.docs.classes.class3desc' | transloco
      }}
    </li>
    <li>
      <code>acc-panel</code>:
      {{ 'accordion.docs.classes.class4desc' | transloco }}
    </li>
  </ul>
  <p>{{ 'accordion.docs.example' | transloco }}</p>
  <!-- TODO: Combine with a comment on each block -->
  <pre
    class="code-block"
  ><code [highlight]="custom1" language="css"></code></pre>
  <br />
  <pre class="code-block">
    <code [highlight]="custom2" language="css"></code>
  </pre>
  <br />
  <pre
    class="code-block"
  ><code [highlight]="custom3" language="html"></code></pre>
</section>
