<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    {{ 'pagination.docs.installation' | transloco }}
  </p>
  <h4>{{ 'pagination.docs.step1' | transloco }}</h4>
  <p>
    {{ 'pagination.docs.step1desc' | transloco }}
  </p>
  <pre><code [highlight]="installationScript" language="bash">npm install ip-accordion</code></pre>

  <h4>{{ 'pagination.docs.step2' | transloco }}</h4>
  <p>{{ 'pagination.docs.step2desc' | transloco }}</p>
  <pre><code [highlight]="import" language="typescript"></code></pre>

  <h3 class="under-title">{{ 'pagination.docs.usage' | transloco }}</h3>
  <p>{{ 'pagination.docs.usageDesc' | transloco }}</p>
  <h4>{{ 'pagination.docs.properties' | transloco }}</h4>
  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'pagination.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'pagination.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'pagination.docs.propertyTable.necessity' | transloco }}
        </th>
        <th scope="col">
          {{ 'pagination.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">
          {{ 'pagination.docs.propertyTable.type' | transloco }}
        </th>
        <th scope="col">
          {{ 'pagination.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'pagination.docs.tableLine1.property' | transloco }}</td>
        <td>
          {{ 'pagination.docs.tableLine1.attribute' | transloco }}
        </td>
        <td>
          {{ 'pagination.docs.tableLine1.necessity' | transloco }}
        </td>
        <td>{{ 'pagination.docs.tableLine1.description' | transloco }}</td>
        <td>
          {{ 'pagination.docs.tableLine1.type' | transloco }}
        </td>
        <td>{{ 'pagination.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>
          {{ 'pagination.docs.tableLine2.property' | transloco }}
        </td>
        <td>
          {{ 'pagination.docs.tableLine2.attribute' | transloco }}
        </td>
        <td>{{ 'pagination.docs.tableLine2.necessity' | transloco }}</td>
        <td>{{ 'pagination.docs.tableLine2.description' | transloco }}</td>
        <td>
          {{ 'pagination.docs.tableLine2.type' | transloco }}
        </td>
        <td>{{ 'pagination.docs.tableLine2.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'pagination.docs.tableLine3.property' | transloco }}</td>
        <td>
          {{ 'pagination.docs.tableLine3.attribute' | transloco }}
        </td>
        <td>{{ 'pagination.docs.tableLine3.necessity' | transloco }}</td>
        <td>{{ 'pagination.docs.tableLine3.description' | transloco }}</td>
        <td>
          {{ 'pagination.docs.tableLine3.type' | transloco }}
        </td>
        <td>{{ 'pagination.docs.tableLine3.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>
  <h3 class="under-title">
    {{ 'pagination.docs.personnalisation' | transloco }}
  </h3>
  <p>{{ 'pagination.docs.personnalisationDesc' | transloco }}</p>
  <ul>
    <li><code>--pagination-button-color</code></li>
    <li><code>--pagination-button-background</code></li>
    <li><code>--pagination-button-border-radius</code></li>
    <li><code>--pagination-button-padding</code></li>
    <li><code>--pagination-button-active-background</code></li>
    <li><code>--pagination-button-disabled-color</code></li>
  </ul>
  <p>{{ 'pagination.docs.introClasses' | transloco }}</p>
  <pre>
    <code [highlight]="custom" language="css"></code>
  </pre>

  <h3 class="under-title">{{ 'pagination.docs.event' | transloco }}</h3>
  <p>
    {{ 'pagination.docs.eventDesc1' | transloco }}
  </p>
  <p>
    {{ 'pagination.docs.eventDesc2' | transloco }}
    {{ 'pagination.docs.eventDesc3' | transloco }}
  </p>
  <pre>
    <code [highlight]="handlingEventExample" language="typescript"></code>
  </pre>
</section>
