<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h1>{{ 'menu.title' | transloco }}</h1>
    </div>
    <p>
      {{ 'menu.intro1' | transloco }}
    </p>
    <p>
      {{ 'menu.intro2' | transloco }}
    </p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="menu-wrapper" lang="en">
      <ip-burger-menu
        menu-data='[
      {"label": "Home", "href": "https://design.ipedis.com/composants-web/menu-burger/"},
      {"label": "Discover our team", "href": "https://design.ipedis.com/composants-web/menu-burger/"},
      {"label": "Our partners", "href": "https://design.ipedis.com/composants-web/menu-burger/"},
      {"label": "Ultimate Solution", "href": "https://design.ipedis.com/composants-web/menu-burger/"},
      {"label": "Our Donate Now", "href": "https://design.ipedis.com/composants-web/menu-burger/"},
      {"label": "Join our community", "href": "https://design.ipedis.com/composants-web/menu-burger/"},
      {"label": "FAQ", "href": "https://design.ipedis.com/composants-web/menu-burger/"},
      {"label": "Our publications", "href": "https://design.ipedis.com/composants-web/menu-burger/", "disabled": true}
    ]'
      >
        <div slot="left-head-content" class="logo-wrapper">
          <img
            src="./assets/images/burger-menu/Frame.webp"
            alt="Logo"
            width="71"
            height="71"
          />
          <label class="logo-text" for="">Kestrel</label>
        </div>
        <div slot="before-toggle-menu-content">
          <button class="contact-us-btn" aria-label="Contact us">
            <label for=""> Contact us </label>
            <img
              src="./assets/images/burger-menu/paper-pale-right.svg"
              alt=""
            />
          </button>
        </div>
        <div slot="left-menu-content" class="left-menu-content">
          <div class="content" tabindex="0">
            <img
              src="./assets/images/burger-menu/image2.webp"
              alt="Bird image"
              width="300"
              height="225"
              loading="lazy"
            />
            <label for="">Who are we ?</label>
          </div>
        </div>
      </ip-burger-menu>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet
      [htmlCode]="codeSnippet"
      [cssCode]="css"
    ></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-menu></app-doc-menu>
  </app-accordion>
</div>
