<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    {{ 'dropdown.docs.installation' | transloco }}
  </p>
  <h4>
    {{ 'dropdown.docs.step1' | transloco }}
  </h4>
  <p>
    {{ 'dropdown.docs.step1desc' | transloco }}
  </p>
  <pre><code>npm install ip-dropdown</code></pre>

  <h4>{{ 'dropdown.docs.step2' | transloco }}</h4>
  <p>{{ 'dropdown.docs.step2desc' | transloco }}</p>
  <pre><code [highlight]="import" language="typescript">
</code></pre>

  <h3 class="under-title">
    {{ 'dropdown.docs.usage' | transloco }}
  </h3>
  <p>{{ 'dropdown.docs.usageDesc' | transloco }}</p>
  <h4>{{ 'dropdown.docs.properties' | transloco }}</h4>
  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'dropdown.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'dropdown.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'dropdown.docs.propertyTable.necessity' | transloco }}
        </th>
        <th scope="col">
          {{ 'dropdown.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">
          {{ 'dropdown.docs.propertyTable.type' | transloco }}
        </th>
        <th scope="col">
          {{ 'dropdown.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'dropdown.docs.tableLine1.property' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine1.attribute' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine1.necessity' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine1.description' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine1.type' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'dropdown.docs.tableLine2.property' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine2.attribute' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine2.necessity' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine2.description' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine2.type' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine2.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'dropdown.docs.tableLine3.property' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine3.attribute' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine3.necessity' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine3.description' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine3.type' | transloco }}</td>
        <td>{{ 'dropdown.docs.tableLine3.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>

  <h3 class="under-title">
    {{ 'dropdown.docs.personnalisation' | transloco }}
  </h3>
  <p>{{ 'dropdown.docs.personnalisationDesc' | transloco }}</p>
  <ul>
    <li><code>--primary-color</code></li>
    <li><code>--color-hover</code></li>
    <li><code>--font-color</code></li>
    <li><code>--selected-bg-color</code></li>
    <li><code>--font-size</code></li>
  </ul>
  <p>{{ 'dropdown.docs.introClasses' | transloco }}</p>
  <pre> <code [highlight]="customCSS" language="css"></code></pre>

  <h3 class="under-title">{{ 'dropdown.docs.event' | transloco }}</h3>
  <p>
    {{ 'dropdown.docs.eventDesc1' | transloco }}
  </p>

  <p>
    {{ 'dropdown.docs.eventDesc2' | transloco }}
    {{ 'dropdown.docs.eventDesc3' | transloco }}
  </p>
  <pre><code [highlight]="event" language="typescript"></code></pre>
</section>
