<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h1>{{ 'login.title2' | transloco }}</h1>
    </div>
    <p></p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="preview">
      <div class="with-email login" lang="en">
        <ip-login username-required>
          <div class="social-media">
            <div class="text">
              <span>Or sign up using</span>
            </div>
            <div class="logo-list">
              <a
                class="twitter"
                href="https://design.ipedis.com/composants-web/champ-de-mot-de-passe/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Sign up with twitter, new tab"
              >
                <img src="assets/images/twitter.svg" alt="Twitter" />
              </a>
              <a
                class="google"
                href="https://design.ipedis.com/composants-web/champ-de-mot-de-passe/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Sign up with google, new tab"
              >
                <img src="assets/images/google.svg" alt="Google" />
              </a>
              <a
                class="facebook"
                href="https://design.ipedis.com/composants-web/champ-de-mot-de-passe/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Sign up with facebook, new tab"
              >
                <img src="assets/images/facebook.svg" alt="Facebook" />
              </a>
            </div>
          </div>
          <div class="create-account">
            <span>Don't have an account ? </span>
            <a
              href="https://design.ipedis.com/composants-web/champ-de-mot-de-passe/"
              >Create Account</a
            >
          </div>
        </ip-login>
      </div>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet
      [htmlCode]="withUsernameCode"
      [cssCode]="cssCode"
    ></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-login></app-doc-login>
  </app-accordion>
</div>
