<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h2>{{ 'simpleCheckbox.title' | transloco }}</h2>
    </div>
    <p>
      {{ 'simpleCheckbox.introPart1' | transloco }}
      {{ 'simpleCheckbox.introPart2' | transloco }}
      {{ 'simpleCheckbox.introPart3' | transloco }}
    </p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="checkbox-wrapper" lang="en">
      <ip-checkbox default-checked="true" id="check me">
        Check me !
      </ip-checkbox>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet [htmlCode]="checkboxCode"></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <section id="documentation">
      <h3 class="under-title">Installation</h3>
      <p>
        {{ 'simpleCheckbox.docs.installation' | transloco }}
      </p>
      <h4>
        {{ 'simpleCheckbox.docs.step1' | transloco }}
      </h4>
      <p>
        {{ 'simpleCheckbox.docs.step1desc' | transloco }}
      </p>
      <pre><code>npm install ip-checkbox</code></pre>
      <h4>{{ 'simpleCheckbox.docs.step2' | transloco }}</h4>
      <p>{{ 'simpleCheckbox.docs.step2desc' | transloco }}</p>
      <pre><code [highlight]="import" language="typescript"></code></pre>
      <h2 class="under-title">
        {{ 'simpleCheckbox.docs.usage' | transloco }}
      </h2>
      <p>
        {{ 'simpleCheckbox.docs.usageDesc' | transloco }}
      </p>

      <h4>{{ 'simpleCheckbox.docs.properties' | transloco }}</h4>
      <table>
        <thead>
          <tr>
            <th scope="col">
              {{ 'simpleCheckbox.docs.propertyTable.property' | transloco }}
            </th>
            <th scope="col">
              {{ 'simpleCheckbox.docs.propertyTable.attribute' | transloco }}
            </th>
            <th scope="col">
              {{ 'simpleCheckbox.docs.propertyTable.necessity' | transloco }}
            </th>
            <th scope="col">
              {{ 'simpleCheckbox.docs.propertyTable.description' | transloco }}
            </th>
            <th scope="col">
              {{ 'simpleCheckbox.docs.propertyTable.type' | transloco }}
            </th>
            <th scope="col">
              {{ 'simpleCheckbox.docs.propertyTable.default' | transloco }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine1.property' | transloco
              }}</code>
            </td>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine1.attribute' | transloco
              }}</code>
            </td>
            <td>
              {{ 'simpleCheckbox.docs.tableLine1.necessity' | transloco }}
            </td>
            <td>
              {{ 'simpleCheckbox.docs.tableLine1.description' | transloco }}
            </td>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine1.type' | transloco
              }}</code>
            </td>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine1.default' | transloco
              }}</code>
            </td>
          </tr>
          <tr>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine2.property' | transloco
              }}</code>
            </td>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine2.attribute' | transloco
              }}</code>
            </td>
            <td>
              {{ 'simpleCheckbox.docs.tableLine2.necessity' | transloco }}
            </td>
            <td>
              {{ 'simpleCheckbox.docs.tableLine2.description' | transloco }}
            </td>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine2.type' | transloco
              }}</code>
            </td>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine2.default' | transloco
              }}</code>
            </td>
          </tr>
          <tr>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine3.property' | transloco
              }}</code>
            </td>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine3.attribute' | transloco
              }}</code>
            </td>
            <td>
              {{ 'simpleCheckbox.docs.tableLine3.necessity' | transloco }}
            </td>
            <td>
              {{ 'simpleCheckbox.docs.tableLine3.description' | transloco }}
            </td>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine3.type' | transloco
              }}</code>
            </td>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine3.default' | transloco
              }}</code>
            </td>
          </tr>
          <tr>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine4.property' | transloco
              }}</code>
            </td>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine4.attribute' | transloco
              }}</code>
            </td>
            <td>
              {{ 'simpleCheckbox.docs.tableLine4.necessity' | transloco }}
            </td>
            <td>
              {{ 'simpleCheckbox.docs.tableLine4.description' | transloco }}
            </td>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine4.type' | transloco
              }}</code>
            </td>
            <td>
              <code>{{
                'simpleCheckbox.docs.tableLine4.default' | transloco
              }}</code>
            </td>
          </tr>
        </tbody>
      </table>
      <h4>
        {{ 'simpleCheckbox.docs.content' | transloco }}
      </h4>
      <p>
        {{ 'simpleCheckbox.docs.contentDesc' | transloco }}
      </p>

      <h4>{{ 'simpleCheckbox.docs.example' | transloco }}</h4>
      <div class="example">
        <pre><code [highlight]="example" language="html"></code></pre>
      </div>
      <h3 class="under-title">
        {{ 'simpleCheckbox.docs.personnalisation' | transloco }}
      </h3>
      <p>
        {{ 'simpleCheckbox.docs.personnalisationDesc' | transloco }}
      </p>
      <ul>
        <li><code>--primary-color</code></li>
        <li><code>--secondary-color</code></li>
        <li><code>--font-size</code></li>
        <li><code>--checkbox-size</code></li>
      </ul>
      <p>
        {{ 'simpleCheckbox.docs.exampleDesc' | transloco }}
      </p>
      <pre><code [highlight]="customCSS" language="css"></code></pre>
      <h3 class="under-title">Listening to Events</h3>
      <p>
        {{ 'simpleCheckbox.docs.eventDesc1' | transloco }}
        {{ 'simpleCheckbox.docs.eventDesc2' | transloco }}
      </p>
      <h4>{{ 'simpleCheckbox.docs.jsExample' | transloco }}:</h4>
      <pre><code [highlight]="event" language="typescript">
    </code></pre>
    </section>
  </app-accordion>
</div>
