.tabs {
  display: flex;
  padding: 30px 25px 40px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background-color: #1e1e1e;
  .tab-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #fff;

    .code-btn {
      display: flex;
      align-items: center;
      gap: 20px;

      button {
        border: none;
        color: #fff;
        padding-bottom: 20px;
        font-size: 13px;
        background-color: transparent;

        &.active {
          border-bottom: 3px solid #fff;
        }
      }
    }
    .copy-button {
      background-color: transparent;
      border: none;
    }
  }

  .tab-content {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre;
    max-width: 100%;
    .code-container {
      padding: 10px;
      border: none;
      border-radius: 4px;
      background: transparent;
      width: 100%;

      pre {
        margin: 0;
        padding: 10px;
        overflow: auto;
      }

      button {
        margin-top: 10px;
      }
    }
  }
}
