<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    {{ 'menu.docs.installation' | transloco }}
  </p>
  <h4>{{ 'menu.docs.step1' | transloco }}</h4>
  <p>
    {{ 'menu.docs.step1desc' | transloco }}
  </p>
  <pre><code [highlight]="installationScript" language="bash"></code></pre>

  <h4>{{ 'menu.docs.step2' | transloco }}</h4>
  <p>{{ 'menu.docs.step2desc' | transloco }}</p>
  <pre><code [highlight]="import" language="typescript"></code></pre>

  <h3 class="under-title">{{ 'menu.docs.usage' | transloco }}</h3>

  <p>
    {{ 'menu.docs.usageDesc' | transloco }}
  </p>
  <h4>{{ 'menu.docs.properties' | transloco }}</h4>
  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'menu.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'menu.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'menu.docs.propertyTable.necessity' | transloco }}
        </th>
        <th scope="col">
          {{ 'menu.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">{{ 'menu.docs.propertyTable.type' | transloco }}</th>
        <th scope="col">
          {{ 'menu.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'menu.docs.tableLine1.property' | transloco }}</td>
        <td>
          {{ 'menu.docs.tableLine1.attribute' | transloco }}
        </td>
        <td>
          {{ 'menu.docs.tableLine1.necessity' | transloco }}
        </td>
        <td>{{ 'menu.docs.tableLine1.description' | transloco }}</td>
        <td>
          {{ 'menu.docs.tableLine1.type' | transloco }}
        </td>
        <td>{{ 'menu.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>
          {{ 'menu.docs.tableLine2.property' | transloco }}
        </td>
        <td>
          {{ 'menu.docs.tableLine2.attribute' | transloco }}
        </td>
        <td>{{ 'menu.docs.tableLine2.necessity' | transloco }}</td>
        <td>{{ 'menu.docs.tableLine2.description' | transloco }}</td>
        <td>
          {{ 'menu.docs.tableLine2.type' | transloco }}
        </td>
        <td>{{ 'menu.docs.tableLine2.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'menu.docs.tableLine3.property' | transloco }}</td>
        <td>
          {{ 'menu.docs.tableLine3.attribute' | transloco }}
        </td>
        <td>{{ 'menu.docs.tableLine3.necessity' | transloco }}</td>
        <td>{{ 'menu.docs.tableLine3.description' | transloco }}</td>
        <td>
          {{ 'menu.docs.tableLine3.type' | transloco }}
        </td>
        <td>{{ 'menu.docs.tableLine3.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'menu.docs.tableLine4.property' | transloco }}</td>
        <td>
          {{ 'menu.docs.tableLine4.attribute' | transloco }}
        </td>
        <td>{{ 'menu.docs.tableLine4.necessity' | transloco }}</td>
        <td>{{ 'menu.docs.tableLine4.description' | transloco }}</td>
        <td>
          {{ 'menu.docs.tableLine4.type' | transloco }}
        </td>
        <td>{{ 'menu.docs.tableLine4.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'menu.docs.tableLine5.property' | transloco }}</td>
        <td>
          {{ 'menu.docs.tableLine5.attribute' | transloco }}
        </td>
        <td>{{ 'menu.docs.tableLine5.necessity' | transloco }}</td>
        <td>{{ 'menu.docs.tableLine5.description' | transloco }}</td>
        <td>
          {{ 'menu.docs.tableLine5.type' | transloco }}
        </td>
        <td>{{ 'menu.docs.tableLine5.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'menu.docs.tableLine6.property' | transloco }}</td>
        <td>
          {{ 'menu.docs.tableLine6.attribute' | transloco }}
        </td>
        <td>{{ 'menu.docs.tableLine6.necessity' | transloco }}</td>
        <td>{{ 'menu.docs.tableLine6.description' | transloco }}</td>
        <td>
          {{ 'menu.docs.tableLine6.type' | transloco }}
        </td>
        <td>{{ 'menu.docs.tableLine6.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>

  <h5>{{ 'menu.docs.interface.title' | transloco }}</h5>
  <p>{{ 'menu.docs.interface.desc' | transloco }}</p>
  <ul>
    <li>
      <code>label</code>: {{ 'menu.docs.interface.item1desc' | transloco }}
    </li>
    <li><code>href</code>:{{ 'menu.docs.interface.item2desc' | transloco }}</li>
    <li>
      <code>disabled</code>: {{ 'menu.docs.interface.item3desc' | transloco }}
    </li>
  </ul>
  <h4>{{ 'menu.docs.slots.title' | transloco }}</h4>
  <p>
    {{ 'menu.docs.slots.desc' | transloco }}
  </p>
  <ul>
    <li>
      <code>left-head-content</code>:
      {{ 'menu.docs.slots.slot1desc' | transloco }}
    </li>
    <li>
      <code>before-toggle-menu-content</code>:
      {{ 'menu.docs.slots.slot2desc' | transloco }}
    </li>
    <li>
      <code>left-menu-content</code>:
      {{ 'menu.docs.slots.slot3desc' | transloco }}
    </li>
  </ul>

  <p>
    <em>
      {{ 'accordion.docs.example' | transloco }}
    </em>
  </p>
  <pre class="example">
      <code [highlight]="example" language="html"></code>
      </pre>

  <h3 class="under-title">
    {{ 'menu.docs.personnalisation' | transloco }}
  </h3>
  <h4>Style</h4>
  <p>
    {{ 'menu.docs.docs.introClasses' | transloco }}
  </p>
  <ul>
    <li><code>--primary-color</code></li>
    <li><code>--secondary-color</code></li>
    <li><code>--bg-nav-open-menu</code></li>
    <li><code>--menu-item-color</code></li>
  </ul>

  <h4>
    {{ 'menu.docs.parts.title' | transloco }}
  </h4>
  <p>
    {{ 'menu.docs.parts.desc' | transloco }}
  </p>
  <ul>
    <li><code>nav-bar</code>: {{ 'menu.docs.parts.part1desc' | transloco }}</li>
    <li>
      <code>toggle-menu-btn</code>:
      {{ 'menu.docs.parts.part2desc' | transloco }}
    </li>
    <li>
      <code>menu-content</code>: {{ 'menu.docs.parts.part3desc' | transloco }}
    </li>
    <li>
      <code>menu-list</code>: {{ 'menu.docs.parts.part4desc' | transloco }}
    </li>
  </ul>

  <p>
    <em>
      {{ 'accordion.docs.example' | transloco }}
    </em>
  </p>
  <pre class="example">
      <code [highlight]="css" language="css"></code>
      </pre>
</section>
