<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    {{ 'footnote.docs.installation' | transloco }}
  </p>
  <h4>
    {{ 'footnote.docs.step1' | transloco }}
  </h4>
  <p>
    {{ 'footnote.docs.step1desc' | transloco }}
  </p>
  <pre><code>npm install ip-footnote</code>
  </pre>

  <h4>{{ 'footnote.docs.step2' | transloco }}</h4>
  <p>{{ 'footnote.docs.step2desc' | transloco }}</p>
  <pre><code [highlight]="import" language="typescript"></code></pre>

  <h3 class="under-title">{{ 'footnote.docs.usage' | transloco }}</h3>
  <p>{{ 'footnote.docs.usageDesc' | transloco }}</p>
  <p>
    {{ 'footnote.docs.usageDesc2' | transloco }}
  </p>
  <h4>{{ 'footnote.docs.properties' | transloco }}</h4>
  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'footnote.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'footnote.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'footnote.docs.propertyTable.necessity' | transloco }}
        </th>
        <th scope="col">
          {{ 'footnote.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">
          {{ 'footnote.docs.propertyTable.type' | transloco }}
        </th>
        <th scope="col">
          {{ 'footnote.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'footnote.docs.tableLine1.property' | transloco }}</td>
        <td>{{ 'footnote.docs.tableLine1.attribute' | transloco }}</td>
        <td>
          {{ 'footnote.docs.tableLine1.necessity' | transloco }}
        </td>
        <td>{{ 'footnote.docs.tableLine1.description' | transloco }}</td>
        <td>
          {{ 'footnote.docs.tableLine1.type' | transloco }}
        </td>
        <td>{{ 'footnote.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>
          {{ 'footnote.docs.tableLine2.property' | transloco }}
        </td>
        <td>{{ 'footnote.docs.tableLine2.attribute' | transloco }}</td>
        <td>
          {{ 'footnote.docs.tableLine2.necessity' | transloco }}
        </td>
        <td>{{ 'footnote.docs.tableLine2.description' | transloco }}</td>
        <td>
          {{ 'footnote.docs.tableLine2.type' | transloco }}
        </td>
        <td>{{ 'footnote.docs.tableLine2.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'footnote.docs.tableLine3.property' | transloco }}</td>
        <td>{{ 'footnote.docs.tableLine3.attribute' | transloco }}</td>
        <td>
          {{ 'footnote.docs.tableLine3.necessity' | transloco }}
        </td>
        <td>{{ 'footnote.docs.tableLine3.description' | transloco }}</td>
        <td>
          {{ 'footnote.docs.tableLine3.type' | transloco }}
        </td>
        <td>{{ 'footnote.docs.tableLine3.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>
  <p>
    <em>
      {{ 'footnote.docs.example' | transloco }}
    </em>
  </p>
  <pre class="example">
    <code [highlight]="example" language="html"></code>
    </pre>

  <h3 class="under-title">
    {{ 'footnote.docs.personnalisation' | transloco }}
  </h3>
  <p>{{ 'footnote.docs.personnalisationDesc' | transloco }}</p>
  <ul>
    <li><code>--footnote-border-left</code></li>
    <li><code>--footnote-font-color</code></li>
    <li><code>--footnote-font-size</code></li>
    <li><code>--footnote-identifier-color</code></li>
    <li><code>--footnote-identifier-size</code></li>
    <li><code>--footnote-svg-size</code></li>
    <li><code>--footnote-svg-color</code></li>
  </ul>

  <p>
    <em>
      {{ 'footnote.docs.example' | transloco }}
    </em>
  </p>

  <p>
    {{ 'footnote.docs.exampleDesc' | transloco }}
  </p>
  <pre class="example">
    <code [highlight]="custom1" language="css"></code>
   </pre>
</section>
