<div class="accordion">
  <div
    class="header"
    tabindex="{{ alwaysOpen ? -1 : 0 }}"
    [ngClass]="{ disabled: !alwaysOpen }"
    (click)="toggle()"
    (keydown)="handleKeyDown($event)"
    role="button"
    [attr.aria-expanded]="isOpen || alwaysOpen ? 'true' : 'false'"
    [attr.aria-controls]="contentId"
  >
    <div class="title-container">
      @if (title === 'Preview') {
        <img src="../../../assets/images/eye.png" alt="" />
      }
      @if (title === 'Code') {
        <img src="../../../assets/images/code.png" alt="" />
      }
      @if (title === 'Documentation') {
        <img src="../../../assets/images/doc.png" alt="" />
      }
      <h3>
        {{ title }}
      </h3>
    </div>

    @if (!alwaysOpen) {
      <div class="icon" [ngClass]="{ open: isOpen }" aria-hidden="true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M4.5 15L12 7.5L19.5 15"
            stroke="#2E3243"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    }
  </div>
  <div
    class="content"
    [ngClass]="{ open: isOpen || alwaysOpen }"
    role="region"
    [id]="contentId"
    [attr.aria-labelledby]="headerId"
    [attr.aria-hidden]="!(isOpen || alwaysOpen)"
  >
    <ng-content></ng-content>
  </div>
</div>
