.accordion {
  color: #2e3243;
  border-radius: 8px;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
}

.header {
  background-color: #eff7ff;
  border: 1px solid #efefef;
  cursor: pointer;
  display: flex;
  height: 62px;
  padding: 0 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  transition: height 0.3s ease;
}

.header.focus {
  outline: 3px solid #000;
}

.header .title-container {
  color: #474747;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: 'Mulish-bold';
  margin: 0;
}
.title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  display: flex;
  align-items: center;
  svg {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
  }
}

.icon.open svg {
  transform: rotate(0deg);
}

.content {
  background-color: #efefef;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  width: 100%;
}

.content.open {
  max-height: none;
}

@media (max-width: 1200px) {
  .accordion {
    width: 100%;
  }
  .header {
    padding: 0 15px;
    gap: 40px;
  }

  .header h3 {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .accordion {
    width: 100%;
  }
  .header {
    padding: 0 10px;
    gap: 30px;
  }

  .header h3 {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .accordion {
    width: 100%;
  }
  .header {
    height: auto;
    padding: 10px 15px;
    gap: 15px;
  }

  .header h3 {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .accordion {
    width: 100%;
  }
  .header {
    padding: 8px 10px;
    gap: 10px;
  }

  .header h3 {
    font-size: 18px;
  }
}
