<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    {{ 'modale.docs.installation' | transloco }}
  </p>
  <h4>
    {{ 'modale.docs.step1' | transloco }}
  </h4>
  <p>
    {{ 'modale.docs.step1desc' | transloco }}
  </p>
  <pre><code [highlight]="installationScript" language="bash">npm install ip-accordion</code></pre>

  <h4>{{ 'modale.docs.step2' | transloco }}</h4>
  <p>
    {{ 'modale.docs.step2desc' | transloco }}
  </p>
  <pre><code [highlight]="import" language="typescript"></code></pre>

  <h3 class="under-title">
    {{ 'modale.docs.usage' | transloco }}
  </h3>

  <p>
    {{ 'modale.docs.usageDesc' | transloco }}
  </p>
  <h4>
    {{ 'modale.docs.properties' | transloco }}
  </h4>
  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'modale.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'modale.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'modale.docs.propertyTable.necessity' | transloco }}
        </th>
        <th scope="col">
          {{ 'modale.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">{{ 'modale.docs.propertyTable.type' | transloco }}</th>
        <th scope="col">
          {{ 'modale.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'modale.docs.tableLine1.property' | transloco }}</td>
        <td>
          {{ 'modale.docs.tableLine1.attribute' | transloco }}
        </td>
        <td>
          {{ 'modale.docs.tableLine1.necessity' | transloco }}
        </td>
        <td>{{ 'modale.docs.tableLine1.description' | transloco }}</td>
        <td>
          {{ 'modale.docs.tableLine1.type' | transloco }}
        </td>
        <td>{{ 'modale.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>
          {{ 'modale.docs.tableLine2.property' | transloco }}
        </td>
        <td>
          {{ 'modale.docs.tableLine2.attribute' | transloco }}
        </td>
        <td>{{ 'modale.docs.tableLine2.necessity' | transloco }}</td>
        <td>{{ 'modale.docs.tableLine2.description' | transloco }}</td>
        <td>
          {{ 'modale.docs.tableLine2.type' | transloco }}
        </td>
        <td>{{ 'modale.docs.tableLine2.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>

  <h4>{{ 'modale.docs.content' | transloco }}</h4>
  <p>
    {{ 'modale.docs.contentDesc' | transloco }}
  </p>

  <p>
    <em>{{ 'accordion.docs.example' | transloco }}</em>
  </p>
  <pre class="example">
    <code [highlight]="content" language="html"></code>
    </pre>

  <h3 class="under-title">{{ 'modale.docs.personnalisation' | transloco }}</h3>
  <h4>
    {{ 'modale.docs.varCSS' | transloco }}
  </h4>
  <p>{{ 'modale.docs.varCSSDesc' | transloco }}</p>
  <ul>
    <li><code>--svg-color</code></li>
    <li><code>--svg-size</code></li>
  </ul>

  <h4>{{ 'modale.docs.classes' | transloco }}</h4>
  <p>{{ 'modale.docs.introClasses' | transloco }}</p>
  <ul>
    <li>
      <code>dialog-content</code>: {{ 'modale.docs.class1Desc' | transloco }}
    </li>
    <li>
      <code>trigger-button</code>: {{ 'modale.docs.class2Desc' | transloco }}
    </li>
  </ul>

  <p>
    <em>{{ 'accordion.docs.example' | transloco }}</em>
  </p>
  <pre class="example">
    <code [highlight]="example1" language="css"></code>
    </pre>
</section>
