<app-skip-link></app-skip-link>
<app-header></app-header>
<div class="main-content">
  <div class="container">
    <!-- <div class="sidebar-menu">
      <button
        class="menu-toggle"
        (click)="toggleMenu()"
        aria-label="Toggle menu"
      >
        ☰ Menu
      </button>
      <div class="aside" [ngClass]="{ 'mobile-visible': isMenuVisible }">
        <app-demo-aside (linkClicked)="closeMenu()"></app-demo-aside>
      </div>
    </div> -->
    <div class="main">
      <main
        id="mainContent"
        role="main"
        tabindex="-1"
        class="main-wrapper"
        (click)="closeMenu()"
      >
        <router-outlet></router-outlet>
      </main>
      <div class="footer">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
