body {
  font-family: 'Mulish-light';
  width: 90%;
  padding: 0 40px;
}

.main-content {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
  padding-top: 65px;
  overflow-y: auto;
  width: 100%;
}

.sidebar-menu {
  overflow-y: auto;
  overflow-x: hidden;
  width: 300px;
  position: static;
  background-color: #2e3243;
  transition: transform 0.3s ease;

  .menu-toggle {
    display: none;
  }

  .aside {
    display: block;
  }
}

.main {
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
  width: 100%;
  padding: 0 40px;

  .main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .footer {
    gap: 70px;
  }
}

@media (max-width: 1497px) {
  .sidebar-menu {
    width: 300px;
  }

  .main-wrapper {
    margin: 0 20px;
    gap: 40px;
  }
}

@media (max-width: 1200px) {
  .main-wrapper {
    padding: 0;
    margin: 30px;
  }
}

@media (max-width: 1084px) {
  .sidebar-menu {
    width: 200px;
  }
}

@media (max-width: 885px) {
  .main-content {
    min-height: 100vh;

    .container {
      flex-direction: column;
      padding: 0;
      gap: 20px;
      height: auto;
      margin: 0;

      .sidebar-menu {
        width: 100%;
        z-index: 1000;
        position: relative;
        background-color: #fff;
        margin-top: 50px;

        .menu-toggle {
          display: block;
          background: none;
          border: none;
          font-size: 24px;
          cursor: pointer;
          margin-bottom: 10px;
          color: #2e3243;
        }

        .aside {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          z-index: 1000;
          color: #2e3243;
          padding: 20px;
          box-sizing: border-box;
          transition: transform 0.3s ease-in-out;
          transform: translateX(-100%);

          &.mobile-visible {
            transform: translateX(0);
            padding: 0;
          }
        }
      }

      .main {
        margin: 0;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        .main-wrapper {
          width: 100%;
          align-items: start;
        }
      }
    }
  }
}
