<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <h4>{{ 'table.docs.step1' | transloco }}</h4>
  <p>
    {{ 'table.docs.step1desc' | transloco }}
  </p>
  <pre><code [highlight]="installationScript" language="bash">npm install ip-accordion</code></pre>

  <h4>{{ 'table.docs.step2' | transloco }}</h4>
  <p>{{ 'table.docs.step2desc' | transloco }}</p>
  <pre><code [highlight]="import" language="typescript"></code></pre>

  <h3 class="under-title">{{ 'table.docs.usage' | transloco }}</h3>

  <p>
    {{ 'table.docs.usageDesc1' | transloco }}
  </p>

  <h4>{{ 'table.docs.properties' | transloco }}</h4>

  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'table.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'table.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'table.docs.propertyTable.necessity' | transloco }}
        </th>
        <th scope="col">
          {{ 'table.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">{{ 'table.docs.propertyTable.type' | transloco }}</th>
        <th scope="col">
          {{ 'table.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'table.docs.tableLine1.property' | transloco }}</td>
        <td>
          {{ 'table.docs.tableLine1.attribute' | transloco }}
        </td>
        <td>
          {{ 'table.docs.tableLine1.necessity' | transloco }}
        </td>
        <td>{{ 'table.docs.tableLine1.description' | transloco }}</td>
        <td>
          {{ 'table.docs.tableLine1.type' | transloco }}
        </td>
        <td>{{ 'table.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>
          {{ 'table.docs.tableLine2.property' | transloco }}
        </td>
        <td>
          {{ 'table.docs.tableLine2.attribute' | transloco }}
        </td>
        <td>{{ 'table.docs.tableLine2.necessity' | transloco }}</td>
        <td>{{ 'table.docs.tableLine2.description' | transloco }}</td>
        <td>
          {{ 'table.docs.tableLine2.type' | transloco }}
        </td>
        <td>{{ 'table.docs.tableLine2.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>

  <h4>{{ 'table.docs.prop1.title' | transloco }}</h4>
  <p>
    {{ 'table.docs.prop1.desc1' | transloco }}
    {{ 'table.docs.prop1.desc2' | transloco }}
  </p>
  <ul>
    <li>
      <strong>header</strong>: {{ 'table.docs.prop1.element1Desc' | transloco }}
    </li>
    <li>
      <strong>type</strong>:{{ 'table.docs.prop1.element2Desc' | transloco }}
    </li>
  </ul>

  <h4>{{ 'table.docs.prop2.title' | transloco }}</h4>
  <p>
    {{ 'table.docs.prop2.desc1' | transloco
    }}{{ 'table.docs.prop2.desc2' | transloco }}
  </p>
  <div class="code-example">
    <pre><code [highlight]="example" language="html"></code></pre>
  </div>

  <h3 class="under-title">{{ 'table.docs.personnalisation' | transloco }}</h3>
  <p>{{ 'table.docs.personnalisationDesc' | transloco }}</p>
  <ul>
    <li><code>--primary-color</code></li>
    <li><code>--secondary-color</code></li>
    <li><code>--thead-color</code></li>
    <li><code>--hover-color</code></li>
    <li><code>--font-size</code></li>
    <li><code>--font-family</code></li>
  </ul>
  <p>{{ 'table.docs.introClasses' | transloco }}</p>
  <div class="code-example">
    <pre><code [highlight]="custom" language="css"></code></pre>
  </div>
</section>
