@use '../../../../assets/styles/index.scss' as *;

.breadcrumb-wrapper {
  display: flex;
  justify-content: center;
  padding: 70px;
}
ip-breadcrumb {
  &::part(title) {
    font-family: 'Mulish-bold';
    font-size: 32px;
  }
  &::part(breadcrumb) {
    font-family: 'Mulish-light';
  }
}
@media (max-width: 768px) {
  ip-breadcrumb::part(title) {
    font-size: 18px;
  }

  ip-breadcrumb::part(breadcrumb) {
    font-size: 16px;
    flex-wrap: wrap;
    margin: 0;
    align-content: center;
  }
}
