<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h2>{{ 'breadcrumb.title' | transloco }}</h2>
    </div>
    <p>
      {{ 'breadcrumb.intro' | transloco }}
    </p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="breadcrumb-wrapper">
      <ip-breadcrumb
        breadcrumb-title="LIST OF COMPONENTS"
        breadcrumb-items='[
        {"label": "Home", "link": "#"},
        {"label": "Accessibility", "link": "#"},
        {"label": "List of components"}
      ]'
        prefix-aria-label="Link to"
      >
      </ip-breadcrumb>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet
      [htmlCode]="codeSnippet"
      [cssCode]="css"
    ></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-breadcrumb></app-doc-breadcrumb>
  </app-accordion>
</div>
