<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h1>{{ 'breadcrumb.title' | transloco }}</h1>
    </div>
    <p>
      {{ 'breadcrumb.intro' | transloco }}
    </p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="breadcrumb-wrapper">
      <ip-breadcrumb
        breadcrumb-title="Démo Fil d'ariane"
        breadcrumb-items='[
        {"label": "Composants Web", "link": "https://design.ipedis.com/composants-web/"},
        {"label": "Fil d&apos;ariane", "link": "https://design.ipedis.com/composants-web/fil-dariane/"},
        {"label": "Démo"}
      ]'
        prefix-aria-label="Lien vers"
      >
      </ip-breadcrumb>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet
      [htmlCode]="codeSnippet"
      [cssCode]="css"
    ></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-breadcrumb></app-doc-breadcrumb>
  </app-accordion>
</div>
