<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    {{ 'breadcrumb.docs.installation' | transloco }}
  </p>
  <h4>
    {{ 'breadcrumb.docs.step1' | transloco }}
  </h4>
  <p>
    {{ 'breadcrumb.docs.step1desc' | transloco }}
  </p>
  <pre><code [highlight]="installationScript" language="bash"></code></pre>

  <h4>
    {{ 'breadcrumb.docs.step2' | transloco }}
  </h4>
  <p>
    {{ 'breadcrumb.docs.step2desc' | transloco }}
  </p>
  <pre><code [highlight]="import" language="typescript"></code></pre>

  <h3 class="under-title">
    {{ 'breadcrumb.docs.usage' | transloco }}
  </h3>

  <p>
    {{ 'breadcrumb.docs.usageDesc' | transloco }}
  </p>
  <h4>
    {{ 'breadcrumb.docs.properties' | transloco }}
  </h4>
  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'breadcrumb.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'breadcrumb.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'breadcrumb.docs.propertyTable.necessity' | transloco }}
        </th>
        <th scope="col">
          {{ 'breadcrumb.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">
          {{ 'breadcrumb.docs.propertyTable.type' | transloco }}
        </th>
        <th scope="col">
          {{ 'breadcrumb.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'breadcrumb.docs.tableLine1.property' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine1.attribute' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine1.necessity' | transloco }}</td>
        <td>
          {{ 'breadcrumb.docs.tableLine1.description' | transloco }}
        </td>
        <td>{{ 'breadcrumb.docs.tableLine1.type' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'breadcrumb.docs.tableLine2.property' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine2.attribute' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine2.necessity' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine2.description' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine2.type' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine2.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'breadcrumb.docs.tableLine3.property' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine3.attribute' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine3.necessity' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine3.description' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine3.type' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine3.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'breadcrumb.docs.tableLine4.property' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine4.attribute' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine4.necessity' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine4.description' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine4.type' | transloco }}</td>
        <td>{{ 'breadcrumb.docs.tableLine4.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>

  <p>
    <em>{{ 'breadcrumb.docs.example' | transloco }}</em>
  </p>
  <pre class="example">
      <code [highlight]="example" language="html"></code>
      </pre>

  <h3 class="under-title">
    {{ 'breadcrumb.docs.personnalisation' | transloco }}
  </h3>

  <p>{{ 'breadcrumb.docs.personnalisationDesc' | transloco }}</p>
  <ul>
    <li><code>title</code>: {{ 'breadcrumb.docs.prop1desc' | transloco }}</li>
    <li>
      <code>breadcrumb</code>: {{ 'breadcrumb.docs.prop2desc' | transloco }}
    </li>
    <li><code>icon</code>: {{ 'breadcrumb.docs.prop3desc' | transloco }}</li>
  </ul>
  <p>
    {{ 'breadcrumb.docs.modifdesc' | transloco }}
  </p>
  <pre class="example">
      <code [highlight]="css" language="css"></code>
      </pre>
</section>
