<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    {{ 'alert.docs.installation' | transloco }}
  </p>
  <h4>
    {{ 'alert.docs.step1' | transloco }}
  </h4>
  <p>
    {{ 'alert.docs.step1desc' | transloco }}
  </p>
  <pre><code>npm install ip-alert</code></pre>

  <h4>
    {{ 'alert.docs.step2' | transloco }}
  </h4>
  <p>{{ 'alert.docs.step2desc' | transloco }}</p>
  <pre><code [highlight]="import" language="typescript"></code></pre>

  <h3 class="under-title">
    {{ 'alert.docs.usage' | transloco }}
  </h3>
  <p>{{ 'alert.docs.usageDesc' | transloco }}</p>
  <h4>
    {{ 'alert.docs.properties' | transloco }}
  </h4>
  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'alert.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'alert.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'alert.docs.propertyTable.required' | transloco }}
        </th>
        <th scope="col">
          {{ 'alert.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">
          {{ 'alert.docs.propertyTable.type' | transloco }}
        </th>
        <th scope="col">
          {{ 'alert.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'alert.docs.tableLine1.property' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine1.attribute' | transloco }}</td>
        <td>
          {{ 'alert.docs.tableLine1.necessity' | transloco }}
        </td>
        <td>{{ 'alert.docs.tableLine1.description' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine1.type' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'alert.docs.tableLine2.property' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine2.attribute' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine2.necessity' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine2.description' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine2.type' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine2.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'alert.docs.tableLine3.property' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine3.attribute' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine3.necessity' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine3.description' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine3.type' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine3.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'alert.docs.tableLine4.property' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine4.attribute' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine4.necessity' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine4.description' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine4.type' | transloco }}</td>
        <td>{{ 'alert.docs.tableLine4.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>
  <p>
    <em>{{ 'alert.docs.example' | transloco }}:</em>
  </p>
  <pre class="example">
      <code [highlight]="example" language="html"></code>
      </pre>
  <h3 class="under-title">{{ 'alert.docs.personnalisation' | transloco }}</h3>
  <p>{{ 'alert.docs.personnalisationDesc' | transloco }}</p>
  <ul>
    <li><code>--alert-font-size</code></li>
    <li><code>--alert-message-color</code></li>
    <li><code>--alert-font-family</code></li>
    <li><code>--alert-font-title-size</code></li>
  </ul>

  <p>
    <em>{{ 'alert.docs.example' | transloco }}:</em>
  </p>

  <p>{{ 'alert.docs.exampleDesc' | transloco }}</p>
  <pre class="example">
        <code [highlight]="custom1" language="css"></code>
       </pre>
</section>
