<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h2>{{ 'pagination.title' | transloco }}</h2>
    </div>
    <p>
      {{ 'pagination.intro' | transloco }}
    </p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="pagination">
      <ip-pagination
        total-pages="25"
        current-page="5"
        visible-pages="7"
      ></ip-pagination>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet [htmlCode]="codeSnippet"></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-pagination></app-doc-pagination>
  </app-accordion>
</div>
