<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    {{ 'toggle.docs.installation' | transloco }}
  </p>
  <h4>{{ 'toggle.docs.step1' | transloco }}</h4>
  <p>
    {{ 'toggle.docs.step1desc' | transloco }}
  </p>
  <pre><code>npm install ip-toggle</code></pre>

  <h4>{{ 'toggle.docs.step2' | transloco }}</h4>
  <p>{{ 'toggle.docs.step2desc' | transloco }}</p>
  <pre><code [highlight]="import" language="typescript"
    ></code></pre>

  <h3 class="under-title">{{ 'toggle.docs.usage' | transloco }}</h3>

  <p>
    {{ 'toggle.docs.usageDesc' | transloco }}
  </p>
  <h4>{{ 'toggle.docs.properties' | transloco }}</h4>
  <table>
    <thead>
      <tr>
        <th scope="col">
          {{ 'toggle.docs.propertyTable.property' | transloco }}
        </th>
        <th scope="col">
          {{ 'toggle.docs.propertyTable.attribute' | transloco }}
        </th>
        <th scope="col">
          {{ 'toggle.docs.propertyTable.necessity' | transloco }}
        </th>
        <th scope="col">
          {{ 'toggle.docs.propertyTable.description' | transloco }}
        </th>
        <th scope="col">{{ 'toggle.docs.propertyTable.type' | transloco }}</th>
        <th scope="col">
          {{ 'toggle.docs.propertyTable.default' | transloco }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'toggle.docs.tableLine1.property' | transloco }}</td>
        <td>
          {{ 'toggle.docs.tableLine1.attribute' | transloco }}
        </td>
        <td>
          {{ 'toggle.docs.tableLine1.necessity' | transloco }}
        </td>
        <td>{{ 'toggle.docs.tableLine1.description' | transloco }}</td>
        <td>
          {{ 'toggle.docs.tableLine1.type' | transloco }}
        </td>
        <td>{{ 'toggle.docs.tableLine1.default' | transloco }}</td>
      </tr>
      <tr>
        <td>
          {{ 'toggle.docs.tableLine2.property' | transloco }}
        </td>
        <td>
          {{ 'toggle.docs.tableLine2.attribute' | transloco }}
        </td>
        <td>{{ 'toggle.docs.tableLine2.necessity' | transloco }}</td>
        <td>{{ 'toggle.docs.tableLine2.description' | transloco }}</td>
        <td>
          {{ 'toggle.docs.tableLine2.type' | transloco }}
        </td>
        <td>{{ 'toggle.docs.tableLine2.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'toggle.docs.tableLine3.property' | transloco }}</td>
        <td>
          {{ 'toggle.docs.tableLine3.attribute' | transloco }}
        </td>
        <td>{{ 'toggle.docs.tableLine3.necessity' | transloco }}</td>
        <td>{{ 'toggle.docs.tableLine3.description' | transloco }}</td>
        <td>
          {{ 'toggle.docs.tableLine3.type' | transloco }}
        </td>
        <td>{{ 'toggle.docs.tableLine3.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'toggle.docs.tableLine4.property' | transloco }}</td>
        <td>
          {{ 'toggle.docs.tableLine4.attribute' | transloco }}
        </td>
        <td>{{ 'toggle.docs.tableLine4.necessity' | transloco }}</td>
        <td>{{ 'toggle.docs.tableLine4.description' | transloco }}</td>
        <td>
          {{ 'toggle.docs.tableLine4.type' | transloco }}
        </td>
        <td>{{ 'toggle.docs.tableLine4.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'toggle.docs.tableLine5.property' | transloco }}</td>
        <td>
          {{ 'toggle.docs.tableLine5.attribute' | transloco }}
        </td>
        <td>{{ 'toggle.docs.tableLine5.necessity' | transloco }}</td>
        <td>{{ 'toggle.docs.tableLine5.description' | transloco }}</td>
        <td>
          {{ 'toggle.docs.tableLine5.type' | transloco }}
        </td>
        <td>{{ 'toggle.docs.tableLine5.default' | transloco }}</td>
      </tr>
      <tr>
        <td>{{ 'toggle.docs.tableLine6.property' | transloco }}</td>
        <td>
          {{ 'toggle.docs.tableLine6.attribute' | transloco }}
        </td>
        <td>{{ 'toggle.docs.tableLine6.necessity' | transloco }}</td>
        <td>{{ 'toggle.docs.tableLine6.description' | transloco }}</td>
        <td>
          {{ 'toggle.docs.tableLine6.type' | transloco }}
        </td>
        <td>{{ 'toggle.docs.tableLine6.default' | transloco }}</td>
      </tr>
    </tbody>
  </table>
  <h4>{{ 'toggle.docs.content' | transloco }}</h4>
  <p>
    {{ 'toggle.docs.contentDesc' | transloco }}
  </p>
  <ul>
    <li>
      <code>slot="switch-label"</code>: {{ 'toggle.docs.slotDesc' | transloco }}
    </li>
  </ul>
  <pre><code
    [highlight]="example" language="html">
    </code></pre>

  <h3 class="under-title">{{ 'toggle.docs.personnalisation' | transloco }}</h3>
  <p>{{ 'toggle.docs.personnalisationDesc' | transloco }}</p>
  <ul>
    <li><code>--primary-color</code></li>
    <li><code>--secondary-color</code></li>
    <li><code>--font-family</code></li>
    <li><code>--text-color</code></li>
  </ul>
  <p>{{ 'toggle.docs.introClasses' | transloco }}</p>
  <pre><code [highlight]="custom" language="css">
  </code></pre>
  <h3 class="under-title">{{ 'toggle.docs.event' | transloco }}</h3>

  <ul>
    <li>
      <code>toggleChange</code>: {{ 'toggle.docs.eventDesc' | transloco }}
    </li>
  </ul>

  <p>{{ 'stepper.docs.example' | transloco }}</p>

  <pre><code [highlight]="event" language="typescript">
    
</code></pre>
</section>
