@use '../../../../assets/styles/index.scss' as *;

.table-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: auto;
  overflow-x: auto;
}
.code-wrapper {
  width: 100%;
}
ip-table {
  --font-family: 'Mulish-light';
  --primary-color: #b00057;
}
@media (max-width: 450px) {
  .table-wrapper {
    justify-content: flex-start;
  }
}
