@use '../../../../assets/styles/index.scss' as *;

.modal-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 500px;
}

ip-modal::part(trigger-button) {
  font-family: 'Mulish-light';
}
.modal-content {
  margin: rem(10) 0;
  padding: rem(10);

  .dialog-title {
    h1 {
      font-size: rem(30);
      font-weight: 800;
      color: #2749a3;
      font-family: 'Mulish-light';
    }
    p {
      text-align: center;
      margin-top: 10px;
    }
  }
  .dialog-contents {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    input {
      width: 467px;
      padding: 13px;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0.9);
      margin-top: 20px;
      &:focus {
        outline: 3px solid black;
        outline-offset: 3px;
      }
    }
    label {
      margin-right: 90px;
    }
  }
  .dialog-btn {
    background: #2749a3 !important;
    width: 467px;
    border-radius: 8px;
    font-family: 'Mulish-light';
    padding: 15px;
    color: white;
    border: none;
    margin-top: 20px;
  }

  .dialog-btn:focus {
    outline: 3px solid black;
    outline-offset: 3px;
  }
}
@media (max-width: 1024px) {
  .modal-wrapper {
    .modal-content {
      .dialog-contents {
        input {
          width: 300px;
        }
      }
      .dialog-btn {
        width: 300px;
      }
    }
  }
}

@media (max-width: 768px) {
  .modal-wrapper {
    .modal-content {
      .dialog-contents {
        input {
          width: 240px;
        }
      }
      .dialog-btn {
        width: 240px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .modal-wrapper {
    .modal-content {
      .dialog-contents {
        input {
          width: 300px;
        }
      }
      .dialog-btn {
        width: 300px;
      }
    }
  }
}

@media (max-width: 768px) {
  .modal-wrapper {
    .modal-content {
      .dialog-contents {
        input {
          width: 240px;
        }
      }
      .dialog-btn {
        width: 240px;
      }
    }
  }
}

@media (max-width: 460px) {
  .dialog-title {
    h1 {
      font-size: 18px;
    }
    p {
      font-size: 12px;
    }
  }
  .dialog-title {
    input {
      width: 100px;
      margin-left: 15px;
    }
  }
  .dialog-btn {
    width: 100px;
    font-size: 14px;
  }
}
