<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>{{ 'common.components' | transloco }}</p>
      <h1>{{ 'modale.title' | transloco }}</h1>
    </div>
    <p>
      {{ 'modale.intro1' | transloco }}
      {{ 'modale.intro2' | transloco }}
      {{ 'modale.intro3' | transloco }}
    </p>
  </div>
  <app-accordion title="Demo" [alwaysOpen]="true">
    <div class="modal-wrapper" lang="en">
      <ip-modal button-text="Open Custom Modal">
        <div slot="content" class="modal-content">
          <div class="dialog-title">
            <h3 id="dialog-reference">Subscribe to our Newsletter</h3>
            <p>Join thousands getting emails in their inbox.</p>
          </div>
          <div class="dialog-contents">
            <input
              type="text"
              required
              class="input-modal"
              aria-label="Your name"
              title="Your name"
              placeholder="Your Name"
              autocomplete="family-name"
            />
          </div>
          <div>
            <button class="dialog-btn">Got it, Thanks!</button>
          </div>
        </div>
      </ip-modal>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet
      [htmlCode]="ModalCodeSnippet"
      [cssCode]="modalCss"
    ></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-modal></app-doc-modal>
  </app-accordion>
</div>
